.title7,
.title8 {
  position: absolute;
}
.title8 {
  top: 0;
  left: 0;
  line-height: 140%;
}
.title7 {
  top: 27px;
  left: 31px;
  width: 152px;
  height: 25px;
}
.more-icon {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 37px;
  height: 37px;
}
.waste-reduction-child {
  position: absolute;
  top: calc(50% - 85px);
  right: 31px;
  border-radius: 50%;
  background: linear-gradient(180deg, #05cd99, rgba(5, 205, 153, 0));
  width: 206px;
  height: 206px;
}
.b4,
.food-wasted,
.target-2 {
  position: absolute;
  line-height: 100%;
}
.b4 {
  top: calc(50% - 25.5px);
  right: 0;
  font-size: var(--font-size-31xl);
  font-family: var(--font-open-sans);
}
.food-wasted,
.target-2 {
  top: calc(50% - 44.5px);
  right: 36px;
  font-weight: 500;
}
.target-2 {
  top: calc(50% + 30.5px);
  right: 46px;
}
.score {
  position: absolute;
  top: calc(50% - 26px);
  right: 55px;
  width: 146px;
  height: 89px;
  font-size: var(--font-size-sm);
  font-family: var(--font-lato);
}
.waste-reduction {
  position: absolute;
  top: 0;
  left: 1049px;
  border-radius: var(--br-xl);
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(14, 21, 58, 0.71)
  );
  backdrop-filter: blur(120px);
  width: 551px;
  height: 344px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--secondary-primary-white);
  font-family: var(--font-open-sans);
}
