.background-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 652px;
  height: 445px;
}
.b,
.total {
  position: absolute;
  display: inline-block;
}
.total {
  top: 0;
  left: 2.5px;
  line-height: 150%;
  font-weight: 500;
  width: 34px;
  height: 20.84px;
}
.b {
  top: 28.78px;
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 140%;
  font-family: var(--font-open-sans);
  width: 31px;
  height: 24.81px;
}
.icon-child,
.text3 {
  position: absolute;
  top: 2.48px;
  left: 33.5px;
  width: 36.5px;
  height: 53.59px;
}
.icon-child {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumseagreen-100);
  box-shadow: 0 3.500000238418579px 5.5px rgba(0, 0, 0, 0.02);
  width: 25px;
  height: 24.81px;
}
.ioniconbbuilddefault1 {
  position: absolute;
  top: 6.2px;
  left: 6.25px;
  width: 12.5px;
  height: 12.4px;
  overflow: hidden;
}
.icon5,
.items6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 24.81px;
}
.items6 {
  left: 468px;
  width: 70px;
  height: 56.07px;
}
.dinner2 {
  top: 0;
  left: 0;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 44px;
  height: 21px;
}
.b1,
.dinner2,
.text4 {
  position: absolute;
}
.b1 {
  top: 29.26px;
  left: 0.5px;
  font-size: var(--font-size-lg);
  line-height: 140%;
  display: inline-block;
  font-family: var(--font-open-sans);
  width: 57px;
  height: 24.81px;
}
.text4 {
  top: 2px;
  left: 36px;
  width: 57.5px;
  height: 54.07px;
}
.icon6,
.lunch,
.sales {
  position: absolute;
  top: -2px;
  left: -5.5px;
  width: 36px;
  height: 35.81px;
}
.lunch,
.sales {
  top: 0;
  left: 312px;
  width: 93.5px;
  height: 56.07px;
}
.lunch {
  left: 0.5px;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 50px;
  height: 21px;
}
.b2,
.clicks,
.text5 {
  position: absolute;
  width: 54px;
}
.b2 {
  top: 29.26px;
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 140%;
  display: inline-block;
  font-family: var(--font-open-sans);
  height: 24.81px;
}
.clicks,
.text5 {
  top: 2px;
  left: 35.5px;
  height: 54.07px;
}
.clicks {
  top: 0;
  left: 156px;
  width: 89.5px;
  height: 56.07px;
}
.b3,
.breakfast2 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.breakfast2 {
  top: 0;
  line-height: 150%;
  font-weight: 500;
  width: 64px;
  height: 21px;
}
.b3 {
  top: 29px;
  font-size: var(--font-size-lg);
  line-height: 140%;
  font-family: var(--font-open-sans);
  width: 25px;
  height: 25px;
}
.cards,
.text6,
.users {
  position: absolute;
  top: 2px;
  left: 36px;
  width: 64px;
  height: 54px;
}
.cards,
.users {
  top: 0;
  left: 0;
  width: 100px;
  height: 56px;
}
.cards {
  top: 357px;
  left: 22px;
  width: 538px;
  height: 56.07px;
}
.than-last-week {
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--secondary-primary-white);
}
.missed-meals,
.than-last-week-container {
  position: absolute;
  top: 52px;
  left: 0;
  line-height: 140%;
}
.missed-meals {
  top: 0;
  font-size: var(--font-size-lg);
  display: inline-block;
  color: var(--secondary-primary-white);
  width: 78px;
  height: 25px;
}
.text7 {
  position: absolute;
  top: 268px;
  left: 16px;
  width: 127px;
  height: 72px;
  color: var(--primary-green-500-success-color);
  font-family: var(--font-open-sans);
}
.background-child2 {
  border-radius: var(--br-xl);
  background: linear-gradient(126.97deg, #060c29, rgba(4, 12, 48, 0.5));
  backdrop-filter: blur(120px);
}
.background-child2,
.background5,
.lines-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  height: 222px;
}
.lines-child {
  top: 54px;
  border-radius: var(--br-mini);
  background-color: var(--secondary-primary-white);
  width: 7px;
  height: 99.5px;
}
.lines-child1,
.lines-child2,
.lines-child3,
.lines-child4,
.lines-child5,
.lines-child6,
.lines-inner,
.lines-item {
  position: absolute;
  top: 82.5px;
  left: 60px;
  border-radius: var(--br-mini);
  background-color: var(--secondary-primary-white);
  width: 7px;
  height: 71px;
}
.lines-child1,
.lines-child2,
.lines-child3,
.lines-child4,
.lines-child5,
.lines-child6,
.lines-inner {
  top: 115.5px;
  left: 120px;
  height: 38px;
}
.lines-child1,
.lines-child2,
.lines-child3,
.lines-child4,
.lines-child5,
.lines-child6 {
  top: 64.5px;
  left: 180px;
  height: 89px;
}
.lines-child2,
.lines-child3,
.lines-child4,
.lines-child5,
.lines-child6 {
  top: 0;
  left: 240px;
  height: 153.5px;
}
.lines-child3,
.lines-child4,
.lines-child5,
.lines-child6 {
  top: 27px;
  left: 300px;
  height: 126.5px;
}
.lines-child4,
.lines-child5,
.lines-child6 {
  top: 9px;
  left: 360px;
  height: 144.5px;
}
.lines-child5,
.lines-child6 {
  top: 64.5px;
  left: 420px;
  height: 89px;
}
.lines-child6 {
  top: 103.5px;
  left: 480px;
  height: 50px;
}
.lines {
  position: absolute;
  top: 33.5px;
  left: 98px;
  width: 487px;
  height: 153.5px;
}
.div {
  top: 144.5px;
  left: 0;
  line-height: 150%;
  font-weight: 500;
}
.div,
.div1,
.div2 {
  position: absolute;
}
.div1 {
  top: 116px;
  left: 0;
  line-height: 150%;
  font-weight: 500;
}
.div2 {
  top: 87px;
}
.div2,
.div3,
.div4 {
  left: 0;
  line-height: 150%;
  font-weight: 500;
}
.div3 {
  position: absolute;
  top: 58px;
}
.div4 {
  top: 29px;
}
.data,
.div4,
.div5 {
  position: absolute;
}
.div5 {
  top: 0;
  left: 0;
  line-height: 150%;
  font-weight: 500;
}
.data {
  top: 31.5px;
  left: 30px;
  width: 18px;
  height: 159.5px;
}
.first-card2,
.graph {
  position: absolute;
  top: 24px;
  left: 16px;
  width: 620px;
  height: 222px;
  font-size: var(--font-size-3xs);
}
.first-card2 {
  top: 360px;
  left: 948px;
  width: 652px;
  height: 445px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--secondary-primary-white);
  font-family: var(--font-lato);
}
