@media only screen and (min-width: 1200px) {
  .dashboard {
    width: 84.5%;
    float: right;
   
  }

  /* .dashboard-balance,
    .dashboard-expenses {
        
    } */

  .dashboard table {
    width: 100%;
    margin-top: 2vh;
  }

  .first-row td {
    width: 20%;
  }
  
}
