.background-child {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(159.02deg, #000, #090d2e 58.69%, #020515);
  width: 1920px;
  height: 1654px;
}

.wp9649930-1 {
  position: absolute;
  top: 0;
  left: -331px;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(272px);
  width: 1526px;
  height: 980.43px;
}
.analytics-cards,
.background-icon,
.content-cards {
  position: absolute;
  top: 1044px;
  left: 298px;
  width: 1600px;
  height: 521px;
}
.analytics-cards,
.background-icon {
  top: 207px;
  height: 813px;
}
.background-icon {
  top: 0;
  left: 0;
  width: 652px;
  height: 344px;
  object-fit: cover;
}
.glad-to-see {
  margin: 0;
}
.glad-to-see-container {
  position: absolute;
  top: 72px;
  left: 0;
  line-height: 24px;
  display: inline-block;
  width: 155px;
  height: 24px;
}
.ivan-ivanov,
.welcome-back {
  position: absolute;
  left: 0;
  line-height: 100%;
}
.ivan-ivanov {
  top: 25.5px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-open-sans);
}
.welcome-back {
  top: 0;
  font-size: var(--font-size-sm);
  font-weight: 500;
}
.text {
  position: absolute;
  top: 36px;
  left: 31px;
  width: 162px;
  height: 96px;
}
.big-cards,
.first-card,
.main-dashboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 652px;
  height: 344px;
}
.big-cards,
.main-dashboard {
  top: 207px;
  left: 298px;
}
.main-dashboard {
  top: 0;
  left: 0;
  width: 1920px;
  height: 1654px;
}
.dashboard-screen {
  position: relative;
  width: 100%;
  height: 1654px;
  text-align: left;
  font-size: var(--regular-medium-size);
  color: var(--secondary-primary-white);
  font-family: var(--font-lato);
}

/* @media (max-width: 1920px) {
  .background-child {
    width: 100%;
    height: 100%;
  }
  .wp9649930-1 {
    width: 100%;
    height: 100%;
  }
  .analytics-cards,
  .background-icon,
  .content-cards {
    width: 100%;
    height: 100%;
  }
  .background-icon {
    width: 100%;
    height: 100%;
  }
  .glad-to-see-container {
    width: 100%;
    height: 100%;
  }
  .text {
    width: 100%;
    height: 100%;
  }
  .big-cards,
  .first-card,
  .main-dashboard {
    width: 100%;
    height: 100%;
  }
  .main-dashboard {
    width: 100%;
    height: 100%;
  }
  .dashboard-screen {
    width: 100%;
    height: 100%;
  }
} */

@media (max-width: 1024px) {
  .background-child {
    width: 100%;
    height: 100%;
  }
  .wp9649930-1 {
    width: 100%;
    height: 100%;
  }
  .analytics-cards,
  .background-icon,
  .content-cards {
    width: 100%;
    height: 100%;
  }
  .background-icon {
    width: 100%;
    height: 100%;
  }
  .glad-to-see-container {
    width: 100%;
    height: 100%;
  }
  .text {
    width: 100%;
    height: 100%;
  }
  .big-cards,
  .first-card,
  .main-dashboard {
    width: 100%;
    height: 100%;
  }
  .main-dashboard {
    width: 100%;
    height: 100%;
  }
  .dashboard-screen {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .background-child {
    width: 100%;
    height: 100%;
  }
  .wp9649930-1 {
    width: 100%;
    height: 100%;
  }
  .analytics-cards,
  .background-icon,
  .content-cards {
    width: 100%;
    height: 100%;
  }
  .background-icon {
    width: 100%;
    height: 100%;
  }
  .glad-to-see-container {
    width: 100%;
    height: 100%;
  }
  .text {
    width: 100%;
    height: 100%;
  }
  .big-cards,
  .first-card,
  .main-dashboard {
    width: 100%;
    height: 100%;
  }
  .main-dashboard {
    width: 100%;
    height: 100%;
  }
  .dashboard-screen {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 425px) {
  .background-child {
    width: 100%;
    height: 100%;
  }
  .wp9649930-1 {
    width: 100%;
    height: 100%;
  }
  .analytics-cards,
  .background-icon,
  .content-cards {
    width: 100%;
    height: 100%;
  }
  .background-icon {
    width: 100%;
    height: 100%;
  }
  .glad-to-see-container {
    width: 100%;
    height: 100%;
  }
  .text {
    width: 100%;
    height: 100%;
  }
  .big-cards,
  .first-card,
  .main-dashboard {
    width: 100%;
    height: 100%;
  }
  .main-dashboard {
    width: 100%;
    height: 100%;
  }
  .dashboard-screen {
    width: 100%;
    height: 100%;
  }
}

