.background-child1 {
  border-radius: var(--br-xl);
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(10, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
}
.background-child1,
.background4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 924px;
  height: 445px;
}
.last-update-10 {
  position: absolute;
  top: 59px;
  left: 21.5px;
  font-size: var(--font-size-sm);
  line-height: 140%;
  color: var(--color-mediumseagreen-100);
}
.communication-center {
  position: absolute;
  top: 28px;
  left: 21px;
  font-size: var(--font-size-lg);
  line-height: 140%;
}
.second-card1 {
  position: absolute;
  top: 368px;
  left: 0;
  width: 924px;
  height: 445px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--secondary-primary-white);
  font-family: var(--font-open-sans);
}
