.rectangle-div {
  border-radius: var(--br-xl);
  background: linear-gradient(
    127.09deg,
    rgba(6, 12, 41, 0.94),
    rgba(10, 14, 35, 0.49)
  );
  backdrop-filter: blur(120px);
}
.background3,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 873px;
  height: 132.5px;
}
.date-20-september {
  margin: 0;
}
.date-20-september-container,
.faculty-and-staff {
  position: absolute;
  top: 25px;
  left: 1px;
  line-height: 150%;
  display: inline-block;
  width: 543px;
}
.faculty-and-staff {
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  font-weight: 800;
  width: 170px;
}
.details,
.second-message {
  position: absolute;
  top: 26px;
  left: 28px;
  width: 544px;
  height: 79px;
}
.second-message {
  top: 272px;
  left: 23px;
  width: 873px;
  height: 132.5px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--secondary-primary-white);
  font-family: var(--font-lato);
}
