.addons2,
.icon8 {
  position: relative;
  flex-shrink: 0;
}
.icon8 {
  width: 0.94em;
  height: 0.94em;
  overflow: hidden;
}
.addons2 {
  font-size: 0.44em;
  line-height: 150%;
  display: none;
  align-items: center;
  width: 3.43em;
  height: 1.5em;
}
.addon2,
.auto-added-frame2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addon2 {
  height: 1.25em;
  justify-content: flex-start;
  padding: 0.25em 0.38em;
  box-sizing: border-box;
  gap: 0.31em;
}
.auto-added-frame2 {
  align-self: stretch;
  width: 2.34em;
  flex-shrink: 0;
  justify-content: center;
}
.type-here2 {
  position: relative;
  font-size: 0.75em;
  line-height: 150%;
  color: #fff;
  text-decoration: none;
}
.password-text-icon2 {
  position: relative;
  width: 2.19em;
  height: 0.22em;
  display: none;
}
.content2 {
  position: relative;
  width: 0;
  height: 0;
}
.inputfieldtext2,
.minwidth2 {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.minwidth2 {
  flex-direction: row;
  align-items: center;
  padding: 0 4.63em;
}
.inputfieldtext2 {
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  font-family: Lato;
}
.inputwithaddons2 {
  position: absolute;
  height: 100%;
  width: 59.4%;
  top: 0;
  right: 40.6%;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  background-color: rgba(41, 63, 177, 0.74);
  border: 0.5px solid rgba(41, 63, 177, 0.3);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ioniconppersondefault5 {
  position: relative;
  width: 0.75em;
  height: 0.75em;
  overflow: hidden;
  flex-shrink: 0;
}
.listitemdefault2 {
  position: absolute;
  top: 0.78em;
  left: 13.56em;
  width: 3.63em;
  height: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25em;
  color: #fff;
  font-family: Lato;
}
.ioniconnnotificationsdefaul2,
.ioniconssettingssharp2 {
  position: absolute;
  top: 0.93em;
  left: 18.38em;
  width: 0.75em;
  height: 0.75em;
  overflow: hidden;
}
.ioniconnnotificationsdefaul2 {
  left: 20.19em;
}
.breadcrumb5,
.menu4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.breadcrumb5 {
  height: 81.02%;
  width: 21.22%;
  bottom: 18.98%;
  left: 78.78%;
}
.clients-page5 {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.clients-page4 {
  color: #fff;
}
.breadcrumb6 {
  position: relative;
  font-size: 0.75em;
  line-height: 100%;
}
.breadcrumbitemprevious3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.06em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pages-navigation2 {
  position: absolute;
  top: 0.43em;
  left: 0;
  width: 7.06em;
  height: 2.5em;
  color: #a0aec0;
  font-family: Lato;
}
.navbar2 {
  position: absolute;
  height: 4.23%;
  width: 82.24%;
  top: 1.9%;
  right: 2.5%;
  bottom: 93.87%;
  left: 15.26%;
  font-family: Helvetica;
}
.background-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    127.09deg,
    rgba(41, 63, 177, 0.94),
    rgba(9, 14, 35, 0.49)
  );
  backdrop-filter: blur(120px);
  width: 99.88em;
  height: 8.06em;
}
.richard-horvath-nwaetf6qo0-un-icon2 {
  position: absolute;
  top: -20.25em;
  left: 16.63em;
  width: 103.06em;
  height: 57.81em;
  object-fit: cover;
  display: none;
}
.background-child3 {
  border-radius: 15px;
  background: linear-gradient(
    90.06deg,
    rgba(6, 11, 40, 0.94),
    rgba(10, 14, 35, 0)
  );
  display: none;
}
.background-child3,
.background3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.88em;
  height: 8.06em;
}
.ivanivanovgmailcom2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 150%;
}
.email2 {
  position: absolute;
  top: 1.59em;
  left: 0;
  width: 8.69em;
  height: 1.31em;
}
.full-name2,
.ivan-ivanov2 {
  position: absolute;
  top: 0;
  left: 0;
}
.ivan-ivanov2 {
  font-size: 1.13em;
  line-height: 140%;
  width: 5.8em;
}
.full-name2 {
  width: 6.5em;
  height: 1.56em;
  color: #fff;
  font-family: "Open Sans";
}
.image-icon2,
.name-and-email2 {
  position: absolute;
  top: 1.09em;
  left: 6.38em;
  width: 8.69em;
  height: 2.91em;
}
.image-icon2 {
  top: 0;
  left: 0;
  width: 5em;
  height: 5em;
  object-fit: cover;
}
.avatar2,
.icon9 {
  position: absolute;
  top: 3.69em;
  left: 3.69em;
  width: 1.63em;
  height: 1.63em;
}
.avatar2 {
  top: 1.38em;
  left: 1.41em;
  width: 15.06em;
  height: 5.31em;
}
.icon10,
.text5 {
  position: relative;
  padding: 3px;
  text-decoration: none;
  color: #fff;
}
.icon10 {
  width: 0.69em;
  height: 0.69em;
  overflow: hidden;
  flex-shrink: 0;
}
.text5 {
  font-size: 0.63em;
  line-height: 150%;
}
.overview4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-color: #05cd99;
  backdrop-filter: blur(120px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  box-sizing: border-box;
}
.buttons2,
.profile-button2,
.settings-button2 {
  position: absolute;
  height: 100%;
  width: 46.46%;
  top: 0;
  right: 53.54%;
  bottom: 0;
  left: 0;
}
.buttons2,
.settings-button2 {
  right: 0;
  left: 53.54%;
}
.buttons2 {
  height: 26.05%;
  width: 18.12%;
  top: 33.49%;
  right: 2.1%;
  bottom: 40.47%;
  left: 79.79%;
  text-align: center;
  color: #fff;
  font-family: "Open Sans";
}
.user2 {
  position: absolute;
  top: 6.19em;
  left: 18.31em;
  width: 99.88em;
  height: 8.06em;
  color: #a0aec0;
}
.contact-icon1,
.contact3 {
  position: absolute;
  top: -0.12em;
  left: -0.34em;
  width: 2.56em;
  height: 2.51em;
}
.contact3 {
  top: 0.56em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 3.5em;
  height: 0.97em;
}
.contact-menu1,
.profile3 {
  position: absolute;
  top: 16.58em;
  left: 0.94em;
  width: 5.91em;
  height: 1.83em;
}
.profile3 {
  top: 0.56em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 2.86em;
  height: 0.97em;
}
.account-pages2,
.profile-menu1 {
  position: absolute;
  top: 13.3em;
  left: 0.94em;
  width: 5.34em;
  height: 1.83em;
}
.account-pages2 {
  top: 14.33em;
  left: 1.25em;
  font-size: 0.75em;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 8.75em;
  height: 1.46em;
}
.settings-icon-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background-color: #1a1f37;
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 1.88em;
  height: 1.83em;
}
.ioniconbbuilddefault2 {
  position: absolute;
  top: 0.46em;
  left: 0.47em;
  width: 0.94em;
  height: 0.91em;
  overflow: hidden;
}
.settings-icon1,
.settings3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.88em;
  height: 1.83em;
}
.settings3 {
  top: 0.56em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 3.57em;
  height: 0.97em;
}
.payment3,
.settings-menu1 {
  position: absolute;
  top: 7.47em;
  left: 0.94em;
  width: 5.97em;
  height: 1.83em;
}
.payment3 {
  top: 0.56em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 3.93em;
  height: 0.97em;
}
.dashboard-icon1,
.dashboard3,
.payment-menu1 {
  position: absolute;
  top: 4.19em;
  left: 0.94em;
  width: 6.28em;
  height: 1.83em;
}
.dashboard-icon1,
.dashboard3 {
  top: 0;
  width: 1.88em;
}
.dashboard3 {
  top: 0.56em;
  left: 4.29em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 4.79em;
  height: 0.97em;
}
.accounting3,
.dashboard-menu1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 13.72em;
  height: 28.3em;
}
.accounting3 {
  top: 0.56em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 5em;
  height: 0.97em;
}
.accounting-menu1,
.canteen3 {
  position: absolute;
  top: 28.63em;
  left: 0.94em;
  width: 7.22em;
  height: 1.83em;
}
.canteen3 {
  top: 0.56em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 3.71em;
  height: 0.97em;
}
.canteen-menu1 {
  position: absolute;
  top: 25.35em;
  left: 0.94em;
  width: 6.09em;
  height: 1.83em;
}
.clients-menu-item {
  position: absolute;
  top: -0.55em;
  left: -1em;
  border-radius: 15px;
  background-color: #1a1f37;
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 13.72em;
  height: 3.28em;
}
.clients3 {
  position: absolute;
  top: 0.56em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 3.07em;
  height: 0.97em;
}
.cash3,
.clients-menu1 {
  position: absolute;
  top: 22.07em;
  left: 0.94em;
  width: 5.53em;
  height: 1.83em;
}
.cash3 {
  top: 0.56em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 2.21em;
  height: 0.97em;
}
.admin3,
.cash-menu1 {
  position: absolute;
  top: 38.47em;
  left: 0.94em;
  width: 4.78em;
  height: 1.83em;
}
.admin3 {
  top: 0.56em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 2.93em;
  height: 0.97em;
}
.admin-menu1,
.reception3 {
  position: absolute;
  top: 35.19em;
  left: 0.94em;
  width: 5.41em;
  height: 1.83em;
}
.reception3 {
  top: 0.56em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 4.5em;
  height: 0.97em;
}
.admin-pages2,
.reception-menu1 {
  position: absolute;
  top: 31.91em;
  left: 0.94em;
  width: 6.78em;
  height: 1.83em;
}
.admin-pages2 {
  top: 26.03em;
  left: 1.25em;
  font-size: 0.75em;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 8.75em;
  height: 1.46em;
}
.menu5,
.uca-canteen2 {
  position: absolute;
  top: 7.17em;
  left: 1.44em;
  width: 13.72em;
  height: 43.79em;
}
.uca-canteen2 {
  top: 1.25em;
  left: 2.79em;
  font-size: 0.88em;
  letter-spacing: 0.18em;
  line-height: 100%;
  font-weight: 500;
  background: linear-gradient(97.89deg, #fff, rgba(117, 122, 140, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 9.5em;
  height: 1.04em;
}
.removebg-preview-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.83em;
  height: 2.86em;
  object-fit: cover;
}
.logo2 {
  position: absolute;
  top: 0.97em;
  left: 2.88em;
  width: 10.75em;
  height: 2.86em;
  text-align: center;
}
.sidebar2,
.vector-icon {
  position: absolute;
  top: 4.61em;
  left: 0.94em;
  width: 14.58em;
  height: 0.06em;
}
.sidebar2 {
  top: 0;
  left: 0.13em;
  border-radius: 20px;
  background: linear-gradient(
    111.84deg,
    rgba(41, 63, 177, 0.3) 99.99%,
    rgba(26, 31, 55, 0)
  );
  backdrop-filter: blur(120px);
  width: 16.5em;
  height: 68.94em;
  color: #fff;
}
.add-client-clients-page {
  position: relative;
  background-color: #060b26;
  width: 270%;
  height: 69.38em;
  text-align: left;
  color: #000;
  font-family: Lato;
}
