.background-child4 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(159.02deg, #000, #090c2e 58.69%, #020515);
  width: 120em;
  height: 103.38em;
}
.wp9649930-1 {
  position: absolute;
  top: 0;
  left: -20.69em;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(272px);
  width: 15.88em;
  height: 12.78em;
}
.analytics-cards,
.background-icon,
.content-cards {
  position: absolute;
  top: 65.25em;
  left: 18.63em;
  width: 100em;
  height: 32.56em;
}
.analytics-cards,
.background-icon {
  top: 12.94em;
  height: 50.81em;
}
.background-icon {
  top: 0;
  left: 0;
  width: 40.75em;
  height: 21.5em;
  object-fit: cover;
}
.glad-to-see {
  margin: 0;
}
.glad-to-see-container {
  position: absolute;
  top: 4.5em;
  left: 0;
  font-size: 1em;
  line-height: 1.5em;
  display: inline-block;
  width: 9.69em;
  height: 1.5em;
}
.ivan-ivanov3,
.welcome-back {
  position: absolute;
  left: 0;
  line-height: 100%;
}
.ivan-ivanov3 {
  top: 0.91em;
  font-size: 1.75em;
  font-family: "Open Sans";
}
.welcome-back {
  top: 0;
  font-size: 0.88em;
  font-weight: 500;
}
.text7 {
  position: absolute;
  top: 2.25em;
  left: 1.94em;
  width: 10.13em;
  height: 6em;
}
.big-cards,
.first-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 40.75em;
  height: 21.5em;
}
.big-cards {
  top: 12.94em;
  left: 18.63em;
}
.main-dashboard1,
.sidebar-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 120em;
  height: 103.38em;
}
.sidebar-child1 {
  border-radius: 20px;
  background: linear-gradient(
    111.84deg,
    rgba(41, 63, 177, 0.3) 99.99%,
    rgba(26, 31, 55, 0)
  );
  backdrop-filter: blur(120px);
  width: 16.5em;
  height: 70.94em;
}
.log-out-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background-color: #1a1f37;
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 1.88em;
  height: 1.88em;
}
.ioniconrrocketsharp3 {
  position: absolute;
  top: 0.47em;
  left: 0.47em;
  width: 0.94em;
  height: 0.94em;
  overflow: hidden;
}
.log-out6 {
  position: absolute;
  top: 0.57em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
}
.contact4,
.log-out5,
.profile4 {
  position: absolute;
  top: 21.19em;
  left: 1em;
  width: 5.78em;
  height: 1.88em;
}
.contact4,
.profile4 {
  top: 17.81em;
  width: 5.91em;
}
.profile4 {
  top: 14.44em;
  width: 5.34em;
  cursor: pointer;
}
.account-pages3 {
  position: absolute;
  top: 15.75em;
  left: 1.33em;
  font-size: 0.75em;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 8.75em;
  height: 1.5em;
}
.payment4,
.settings4 {
  position: absolute;
  top: 8.44em;
  left: 1em;
  width: 5.97em;
  height: 1.88em;
}
.payment4 {
  top: 5.06em;
  width: 6.28em;
  cursor: pointer;
}
.dashboard-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: #1a1f37;
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 13.72em;
  height: 3.38em;
}
.rectangle-icon {
  position: absolute;
  top: 0.75em;
  left: 1em;
  border-radius: 12px;
  width: 1.88em;
  height: 1.88em;
}
.ioniconhhomedefault1 {
  position: absolute;
  top: 1.22em;
  left: 1.47em;
  width: 0.94em;
  height: 0.94em;
  overflow: hidden;
}
.dashboard5 {
  position: absolute;
  top: 1.43em;
  left: 4.36em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
}
.dashboard4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 13.72em;
  height: 3.38em;
}
.accounting4,
.canteen4,
.clients4 {
  position: absolute;
  top: 33.81em;
  left: 1.06em;
  width: 7.22em;
  height: 1.88em;
}
.canteen4,
.clients4 {
  top: 30.44em;
  width: 6.09em;
}
.clients4 {
  top: 27.06em;
  width: 5.53em;
  cursor: pointer;
}
.cash4 {
  top: 43.94em;
  width: 4.78em;
}
.admin-pages3,
.admin4,
.cash4,
.reception4 {
  position: absolute;
  left: 1.06em;
  height: 1.88em;
}
.admin4 {
  top: 40.56em;
  width: 5.41em;
  cursor: pointer;
}
.admin-pages3,
.reception4 {
  top: 37.19em;
  width: 6.78em;
}
.admin-pages3 {
  top: 32.58em;
  left: 1.42em;
  font-size: 0.75em;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 8.75em;
  height: 1.5em;
}
.menu6,
.uca-canteen3 {
  position: absolute;
  top: 6.63em;
  left: 1.38em;
  width: 13.72em;
  height: 45.81em;
}
.uca-canteen3 {
  top: 1.29em;
  left: 2.79em;
  font-size: 0.88em;
  letter-spacing: 0.18em;
  line-height: 100%;
  font-weight: 500;
  background: linear-gradient(97.89deg, #fff, rgba(117, 122, 140, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 9.5em;
  height: 1.07em;
}
.removebg-preview-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.83em;
  height: 2.94em;
  object-fit: cover;
}
.logo3 {
  position: absolute;
  top: 1em;
  left: 2.88em;
  width: 10.75em;
  height: 2.94em;
  text-align: center;
}
.sidebar-child2,
.sidebar3 {
  position: absolute;
  top: 4.75em;
  left: 0.94em;
  width: 14.58em;
  height: 0.06em;
}
.sidebar3 {
  top: 0em;
  left: 0em;
  width: 16.5em;
  height: 70.94em;
}
.dashboard-screen {
  position: relative;
  width: 100%;
  height: 103.38em;
  text-align: left;
  color: #fff;
  font-family: Lato;
}

@media (max-width: 1920px) and (min-width: 1201px) {
  
}

@media (max-width: 1200px) and (min-width: 1024px) {
  
}

@media (max-width: 1024px) and (min-width: 992px) {
  
}

@media (max-width: 992px) and (min-width: 768px) {
  
}

@media (max-width: 768px) and (min-width: 640px) {
  
}

@media (max-width: 640px) and (min-width: 480px) {
  
}

@media (max-width: 480px) {

}


