.background-child {
  background: linear-gradient(159.02deg, #0f123b, #090c2e 58.69%, #020515);
}
.background-child,
.new-design {
  position: absolute;
  top: 0;
  left: 0;
  width: 120em;
  height: 81.25em;
}
.enter-your-email {
  position: absolute;
  top: 3.25em;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
}
.nice-to-see {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.88em;
  line-height: 130%;
  font-family: "Open Sans";
  color: #fff;
}
.title {
  position: absolute;
  top: 32.94em;
  left: 50.63em;
  width: 15.5em;
  height: 4.09em;
}
.sign-in-screen {
  position: relative;
  width: 100%;
  height: 81.25em;
  overflow: hidden;
  text-align: left;
  color: #a0aec0;
  font-family: Lato;
}
