.background-child {
  background: linear-gradient(159.02deg, #0f123b, #090c2e 58.69%, #020515);
}
.background-child,
.new-design {
  position: absolute;
  top: 0;
  left: 0;
  width: 120em;
  height: 81.25em;
}
.enter-your-email {
  position: absolute;
  top: 3.25em;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
}
.nice-to-see {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.88em;
  line-height: 130%;
  font-family: "Open Sans";
  color: #fff;
}
.title {
  position: absolute;
  top: 12.94em;
  left: 36.63em;
  width: 15.5em;
  height: 4.09em;
}
.sign-in-screen {
  position: relative;
  width: 100%;
  height: 51.55em;
  overflow: hidden;
  text-align: left;
  color: #a0aec0;
  font-family: Lato;
}

@media (max-width: 1920px) and (min-width: 1201px) {
  .sign-in-screen {
    width: 100%;
    height: 51.55em;
  }
  .title {
    position: absolute;
    top: 15em;
    left: 47.63em;
    width: 15.5em;
    height: 4.09em;
  }
}

@media (max-width: 1200px) and (min-width: 1024px) {
  .sign-in-screen {
    width: 100%;
    height: 51.55em;
  }
  .title {
    position: absolute;
    top: 15em;
    left: 24.63em;
    width: 15.5em;
    height: 4.09em;
  }
}

@media (max-width: 1024px) and (min-width: 992px) {
  .sign-in-screen {
    width: 100%;
    height: 51.55em;
  }
  .title {
    position: absolute;
    top: 15em;
    left: 22.63em;
    width: 15.5em;
    height: 4.09em;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .sign-in-screen {
    width: 100%;
    height: 51.55em;
  }
  .title {
    position: absolute;
    top: 15em;
    left: 16.63em;
    width: 15.5em;
    height: 4.09em;
  }
}

@media (max-width: 768px) and (min-width: 640px) {
  .sign-in-screen {
    width: 100%;
    height: 51.55em;
  }
  .title {
    position: absolute;
    top: 15em;
    left: 16.63em;
    width: 15.5em;
    height: 4.09em;
  }
}

@media (max-width: 640px) and (min-width: 480px) {
  .sign-in-screen {
    width: 100%;
    height: 51.55em;
  }
  .title {
    position: absolute;
    top: 15em;
    left: 12.63em;
    width: 15.5em;
    height: 4.09em;
  }
}

@media (max-width: 480px) {
  .sign-in-screen {
    width: 100%;
    height: 51.55em;
  
  }
  .title {
    position: absolute;
    top: 15em;
    left: 6.63em;
    width: 15.5em;
    height: 4.09em;
    
  }
}


