.background-child5 {
  background: linear-gradient(159.02deg, #0f123b, #090c2e 58.69%, #020515);
}
.background-child5,
.new-design1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 120em;
  height: 81.25em;
}
.sign-up-screen {
  position: relative;
  width: 100%;
  height: 51.55em;
  overflow: hidden;
}
