.background-inner {
  border-radius: var(--br-xl);
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(10, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
}
.background-inner,
.background2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1057px;
  height: 521px;
}
.text2 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 24.13px);
  line-height: 100%;
  font-weight: 500;
}
.ioniconaarrowforward2 {
  position: absolute;
  top: 1px;
  left: 35.25px;
  width: 13px;
  height: 13px;
  overflow: hidden;
}
.more1 {
  position: absolute;
  top: calc(50% + 57.35px);
  left: calc(50% + 460.37px);
  width: 48.25px;
  height: 14px;
  text-align: center;
}
.line-icon6 {
  position: absolute;
  top: 44.17px;
  left: 0;
  width: 1013px;
  height: 1px;
}
.scrambled-eggs-melted {
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 116px;
}
.budget1,
.high-in-protein,
.scrambled-eggs-melted {
  position: absolute;
  top: 0;
  height: 34.13px;
}
.high-in-protein {
  left: 178px;
  line-height: 140%;
  display: inline-block;
  width: 161px;
}
.budget1 {
  left: 664px;
  width: 339px;
}
.egg-and-cheese {
  top: 0;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 226px;
  height: 20.08px;
}
.content1,
.egg-and-cheese,
.title6 {
  position: absolute;
  left: 0;
}
.title6 {
  top: 4.02px;
  width: 226px;
  height: 20.08px;
  font-size: var(--font-size-sm);
  font-family: var(--font-lato);
}
.content1 {
  top: 0;
  width: 1003px;
  height: 34.13px;
}
.soft-ui-xd1 {
  top: 0;
  width: 1012.5px;
  height: 44.67px;
}
.items5,
.lines-icon,
.soft-ui-xd1 {
  position: absolute;
  left: 0;
}
.items5 {
  top: 73.28px;
  width: 1012.5px;
  height: 44.67px;
  font-family: var(--font-open-sans);
}
.lines-icon {
  top: 55.21px;
  width: 1013px;
  height: 1px;
}
.dietary-info1 {
  position: absolute;
  left: 841.5px;
  width: 67px;
  height: 15.06px;
}
.description1,
.dietary-info1,
.price1 {
  top: 0;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
}
.description1 {
  position: absolute;
  left: 664px;
  width: 66px;
  height: 15.06px;
}
.price1 {
  left: 450px;
  width: 28px;
}
.breakfast1,
.food1,
.price1,
.titles1 {
  position: absolute;
  height: 15.06px;
}
.food1 {
  top: 0;
  left: 0;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 30px;
}
.breakfast1,
.titles1 {
  top: 28.11px;
  left: 0.5px;
  width: 908.5px;
  font-size: var(--font-size-3xs);
  color: var(--gray-gray-400);
}
.breakfast1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  font-weight: 800;
  font-family: var(--font-open-sans);
  display: inline-block;
  width: 71px;
  height: 20.08px;
}
.breakfast {
  position: absolute;
  top: calc(50% - 191.5px);
  left: calc(50% - 507.5px);
  width: 1017.25px;
  height: 142.7px;
}
.todayss-menu {
  position: absolute;
  top: 28.11px;
  left: 21px;
  font-size: var(--font-size-lg);
  line-height: 140%;
  display: inline-block;
  font-family: var(--font-open-sans);
  width: 133px;
  height: 12.96px;
}
.first-card1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1057px;
  height: 521px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--secondary-primary-white);
  font-family: var(--font-lato);
}
