@media only screen and (max-width: 768px) {
  .header {
    width: 84.5%;
    float: right;
    display: flex;
    flex-direction: row;
  }
  
  .header-pages {
    display: none;
  }

  .toolbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 130%;
    width: 100%;
    align-items: center;
  }

  .toolbox-login ion-icon {
    display: none;
  }

  .toolbox-login,
  .toolbox-setting,
  .toolbox-notification {
    color: #ffffff;
    margin-left: 7%;
    cursor: pointer;
    user-select: none;
  }

  .toolbox-login:hover,
  .toolbox-setting:hover,
  .toolbox-notification:hover {
    color: #05cd99;
  }

  .toolbox-login:active,
  .toolbox-setting:active,
  .toolbox-notification:active {
    color: #05946e;
  }
}


@media only screen and (min-width: 768px) {
  .header {
    width: 84.5%;
    float: right;
    display: flex;
    flex-direction: row;
  }
  
  .header-pages {
    display: none;
  }

  .toolbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 130%;
    width: 100%;
    align-items: center;
  }

  .toolbox-login ion-icon {
    display: none;
  }

  .toolbox-login,
  .toolbox-setting,
  .toolbox-notification {
    color: #ffffff;
    margin-left: 2%;
    cursor: pointer;
    user-select: none;
  }

  .toolbox-login:hover,
  .toolbox-setting:hover,
  .toolbox-notification:hover {
    color: #05cd99;
  }

  .toolbox-login:active,
  .toolbox-setting:active,
  .toolbox-notification:active {
    color: #05946e;
  }
}

/* Medium devices, large devices, and extra large devices (laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
  .header {
    width: 84.5%;
    float: right;
    display: flex;
    flex-direction: row;
  }

  .header-pages {
    color: rgba(160, 174, 192, 1);
    font-size: 1.77vh;
    width: 10%;
  }

  .toolbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.77vh;
    width: 100%;
    align-items: center;
  }

  .toolbox-login,
  .toolbox-setting,
  .toolbox-notification {
    color: #ffffff;
    margin-left: 2%;
    cursor: pointer;
    user-select: none;
  }

  .toolbox-login:hover,
  .toolbox-setting:hover,
  .toolbox-notification:hover {
    color: #05cd99;
  }

  .toolbox-login:active,
  .toolbox-setting:active,
  .toolbox-notification:active {
    color: #05946e;
  }
}
