.background11 {
  position: absolute;
  top: 0;
  left: -0.62em;
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(9, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
  width: 100em;
  height: 36.88em;
}
.save-text {
  position: relative;
  font-size: 0.94em;
  line-height: 150%;
}
.overview10,
.save-and-add-new-button,
.save-button {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.overview10 {
  width: 100%;
  right: 0;
  border-radius: 12px;
  background-color: #05cd99;
  backdrop-filter: blur(120px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  box-sizing: border-box;
}
.save-and-add-new-button,
.save-button {
  width: 28.33%;
  right: 71.67%;
}
.save-and-add-new-button {
  width: 32.49%;
  right: 34.85%;
  left: 32.67%;
}
.cancel-button,
.form-buttons,
.overview12 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.overview12 {
  width: 100%;
  left: 0;
  border-radius: 12px;
  background-color: #b50101;
  backdrop-filter: blur(120px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  box-sizing: border-box;
}
.cancel-button,
.form-buttons {
  width: 29.04%;
  left: 70.96%;
}
.form-buttons {
  height: 7.29%;
  width: 34.48%;
  top: 74.92%;
  right: 29.97%;
  bottom: 17.8%;
  left: 35.54%;
  text-align: center;
  color: #fff;
  font-family: "Open Sans";
}
.your-family-status {
  position: relative;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
}
.family {
  position: absolute;
  height: 66.67%;
  width: 100%;
  top: 33.33%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    123.64deg,
    rgba(255, 255, 255, 0) 0.01%,
    rgba(255, 255, 255, 0.04)
  );
  backdrop-filter: blur(42px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.25em;
  box-sizing: border-box;
}
.family-text {
  position: absolute;
  top: 0;
  left: 0.32em;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  color: #fff;
}
.family-input,
.living-place-input,
.registered-date-input {
  position: absolute;
  height: 12.71%;
  width: 21.9%;
  top: 53.05%;
  right: 12.89%;
  bottom: 34.24%;
  left: 65.21%;
}
.living-place-input,
.registered-date-input {
  top: 36.27%;
  bottom: 51.02%;
}
.registered-date-input {
  top: 19.49%;
  bottom: 67.8%;
}
.total-900 {
  position: absolute;
  top: 0;
  left: 2.14em;
  font-size: 0.88em;
  line-height: 140%;
  display: inline-block;
  width: 4.86em;
  height: 1.94em;
}
.ioniconccheckmarkccircle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25em;
  height: 1.25em;
  overflow: hidden;
}
.add-a-new,
.total-text {
  position: absolute;
  top: 2.13em;
  left: 0;
  width: 6.13em;
  height: 1.7em;
}
.add-a-new {
  top: 0;
  font-size: 1.13em;
  line-height: 140%;
  display: inline-block;
  color: #fff;
  width: 13.11em;
  height: 1.89em;
}
.add-a-new-client-title {
  position: absolute;
  top: 1.69em;
  left: 1.5em;
  width: 14.75em;
  height: 3.83em;
  font-family: "Open Sans";
}
.email-input,
.position-input {
  position: absolute;
  height: 12.71%;
  width: 21.9%;
  top: 53.05%;
  right: 70.46%;
  bottom: 34.24%;
  left: 7.63%;
}
.email-input {
  top: 36.27%;
  bottom: 51.02%;
}
.name-text {
  position: absolute;
  top: 0;
  left: 0.79em;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  width: 6.53em;
}
.name-input {
  position: absolute;
  height: 12.71%;
  width: 54.13%;
  top: 19.49%;
  right: 38.24%;
  bottom: 67.8%;
  left: 7.63%;
}
.education-input,
.passport-input,
.phone-numbers-input {
  position: absolute;
  height: 12.71%;
  width: 21.9%;
  top: 53.05%;
  right: 41.68%;
  bottom: 34.24%;
  left: 36.42%;
}
.education-input,
.phone-numbers-input {
  top: 36.27%;
  bottom: 51.02%;
}
.phone-numbers-input {
  top: 70.68%;
  right: 70.46%;
  bottom: 16.61%;
  left: 7.63%;
}
.add-a-new-client-form {
  position: absolute;
  top: 17em;
  left: 18.31em;
  width: 99.88em;
  height: 36.88em;
  text-align: left;
  color: #a0aec0;
  font-family: Lato;
}
