.admin-users-table-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(9, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
  width: 100em;
  height: 27.5em;
}
.admin-users-table-item {
  position: absolute;
  top: 25.16em;
  left: 0.84em;
  width: 97.25em;
  height: 0.06em;
}
.admins-edit-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 4.06em;
  height: 1.69em;
}
.edit22 {
  position: absolute;
  top: 0.14em;
  left: 0.64em;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 3.07em;
  height: 1.54em;
}
.admins-deactivate-child5,
.admins-edit7 {
  position: absolute;
  top: 0;
  left: 12.81em;
  width: 4.06em;
  height: 1.69em;
}
.admins-deactivate-child5 {
  left: 0.17em;
  border-radius: 8px;
  width: 5.01em;
}
.deactivate7 {
  position: absolute;
  top: 0.21em;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 5.96em;
  height: 1.5em;
}
.admins-actions,
.admins-deactivate7,
.admins-delete7 {
  position: absolute;
  top: 0;
  left: 6.56em;
  width: 5.22em;
  height: 1.69em;
}
.admins-actions,
.admins-delete7 {
  left: 0;
  width: 5.91em;
}
.admins-actions {
  top: 0.19em;
  left: 64.5em;
  width: 16.88em;
  text-align: center;
}
.admins-superuser-child {
  position: absolute;
  top: 0;
  left: 0.33em;
  border-radius: 8px;
  background-color: #b50101;
  width: 5.41em;
  height: 1.69em;
}
.superuser {
  position: absolute;
  top: 0.14em;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 6.75em;
  height: 1.54em;
}
.admins-active4,
.admins-status,
.admins-superuser {
  position: absolute;
  top: 0;
  left: 5.19em;
  width: 5.91em;
  height: 1.69em;
}
.admins-active4,
.admins-status {
  left: 0;
  width: 4.06em;
}
.admins-status {
  left: 40.31em;
  width: 11.09em;
  text-align: center;
}
.admins-first-name,
.admins-last-name,
.fourth1 {
  position: absolute;
  top: 0.31em;
  left: 22.5em;
  width: 6.5em;
  height: 1.25em;
}
.admins-first-name,
.fourth1 {
  left: 10.94em;
  width: 1.94em;
}
.fourth1 {
  left: 0;
  width: 0.56em;
}
.fourth-admin-user {
  position: absolute;
  top: 22.25em;
  left: 1.63em;
  width: 81.38em;
  height: 1.88em;
}
.admin-users-table-inner {
  position: absolute;
  top: 20.66em;
  left: 0.84em;
  width: 97.25em;
  height: 0.06em;
}
.mirzonabotov {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
}
.admins-first-name1,
.admins-last-name1 {
  position: absolute;
  top: 0.31em;
  left: 22.5em;
  width: 5.63em;
  height: 1.25em;
}
.admins-first-name1 {
  left: 10.94em;
  width: 2.06em;
}
.third-admin-user {
  position: absolute;
  top: 17.94em;
  left: 1.63em;
  width: 81.38em;
  height: 1.88em;
}
.admin-users-table-child1 {
  position: absolute;
  top: 16.28em;
  left: 0.84em;
  width: 97.25em;
  height: 0.06em;
}
.admins-first-name2,
.admins-last-name2 {
  position: absolute;
  top: 0.31em;
  left: 22.5em;
  width: 5.06em;
  height: 1.25em;
}
.admins-first-name2 {
  left: 10.94em;
  width: 3.06em;
}
.second-admin-user {
  position: absolute;
  top: 13.06em;
  left: 1.63em;
  width: 81.38em;
  height: 1.88em;
}
.admin-users-table-child2 {
  position: absolute;
  top: 11.72em;
  left: 0.97em;
  width: 97.25em;
  height: 0.06em;
}
.admins-first-name3,
.admins-last-name3 {
  position: absolute;
  top: 0.31em;
  left: 22.5em;
  width: 3.31em;
  height: 1.25em;
}
.admins-first-name3 {
  left: 10.94em;
  width: 2.69em;
}
.first-admin-user {
  position: absolute;
  top: 9em;
  left: 1.75em;
  width: 81.38em;
  height: 1.88em;
}
.admin-users-table-child3 {
  position: absolute;
  top: 7.78em;
  left: 0.94em;
  width: 97.25em;
  height: 0.06em;
}
.actions5,
.first-name3,
.last-name3,
.numeration3,
.status3 {
  position: absolute;
  top: 0.3em;
  left: 115.9em;
  font-size: 0.63em;
  line-height: 150%;
  font-weight: 500;
}
.first-name3,
.last-name3,
.numeration3,
.status3 {
  top: 0;
  left: 68.8em;
}
.first-name3,
.last-name3,
.numeration3 {
  top: 0.3em;
  left: 35.8em;
}
.first-name3,
.numeration3 {
  left: 17.3em;
}
.numeration3 {
  left: 0;
}
.titles7 {
  position: absolute;
  top: 5.94em;
  left: 1.88em;
  width: 75.19em;
  height: 1.13em;
  color: #a0aec0;
}
.total-5 {
  position: absolute;
  top: 2.14em;
  left: 1.39em;
  font-size: 0.88em;
  line-height: 140%;
  display: inline-block;
  width: 4.29em;
  height: 1.41em;
}
.ioniconccheckmarkccircle5 {
  position: absolute;
  top: 2.03em;
  left: 0;
  width: 0.94em;
  height: 0.93em;
  overflow: hidden;
}
.admin-users1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.13em;
  line-height: 140%;
  display: inline-block;
  color: #fff;
  width: 7em;
  height: 1.39em;
}
.admin8 {
  position: absolute;
  top: 1.38em;
  left: 0.81em;
  width: 7.88em;
  height: 3.11em;
  color: #a0aec0;
  font-family: "Open Sans";
}
.admin-users-table {
  position: absolute;
  top: 17.5em;
  left: 18.19em;
  width: 100em;
  height: 27.5em;
  text-align: left;
  color: #fff;
  font-family: Lato;
}
