.background-child24 {
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(9, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
}
.background-child24,
.background21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100em;
  height: 28.09em;
}
.admin-table-child {
  position: absolute;
  top: 27.41em;
  left: 0.78em;
  width: 97.25em;
  height: 0.06em;
}
.reception-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 4.06em;
  height: 1.68em;
}
.edit26 {
  position: absolute;
  top: 0.14em;
  left: 0.64em;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 3.07em;
  height: 1.53em;
}
.reception-button {
  position: absolute;
  top: 0.13em;
  left: 76.75em;
  width: 4.06em;
  height: 1.68em;
  cursor: pointer;
  text-align: center;
}
.b21 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  display: inline-block;
  width: 2.93em;
  height: 1.41em;
}
.reception-total-balance {
  position: absolute;
  top: 0;
  left: 58.5em;
  width: 2.56em;
  height: 1.24em;
  font-family: "Open Sans";
}
.b22,
.reception-total {
  position: absolute;
  top: 0;
}
.b22 {
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  display: inline-block;
  width: 1.79em;
  height: 1.41em;
}
.reception-total {
  left: 41.22em;
  width: 1.56em;
  height: 1.24em;
  font-family: "Open Sans";
}
.reception11 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 4.5em;
  height: 1.41em;
}
.div38,
.reception-title {
  position: absolute;
  top: 0;
  left: 5.19em;
  width: 3.94em;
  height: 1.24em;
}
.div38 {
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 0.64em;
  height: 1.41em;
}
.fifth,
.reception10 {
  position: absolute;
  top: -0.13em;
  left: 0;
  width: 0.56em;
  height: 1.24em;
}
.reception10 {
  top: 24.96em;
  left: 1.25em;
  width: 80.81em;
  height: 1.86em;
}
.admin-table-item {
  position: absolute;
  top: 23.6em;
  left: 0.94em;
  width: 97.25em;
  height: 0.06em;
}
.guests-total-balance {
  position: absolute;
  top: 0.03em;
  left: 58.44em;
  width: 2.56em;
  height: 1.24em;
  font-family: "Open Sans";
}
.b24 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  display: inline-block;
  width: 1.21em;
  height: 1.41em;
}
.guests-total1 {
  position: absolute;
  top: 0.03em;
  left: 41.16em;
  width: 1.06em;
  height: 1.24em;
  font-family: "Open Sans";
}
.guests5 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 3.07em;
  height: 1.41em;
}
.div39,
.guests-title {
  position: absolute;
  top: 0.34em;
  left: 5.13em;
  width: 2.69em;
  height: 1.24em;
}
.div39 {
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 0.29em;
  height: 1.41em;
}
.fourth2,
.guests4 {
  position: absolute;
  top: 0.34em;
  left: 0;
  width: 0.25em;
  height: 1.24em;
}
.guests4 {
  top: 21.09em;
  left: 1.31em;
  width: 80.75em;
  height: 1.68em;
}
.admin-table-inner,
.edit28 {
  position: absolute;
  top: 19.76em;
  left: 0.94em;
  width: 97.25em;
  height: 0.06em;
}
.edit28 {
  top: 0.14em;
  left: 0.64em;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 3.07em;
  height: 1.53em;
  cursor: pointer;
}
.bookers-button {
  position: absolute;
  top: 0.03em;
  left: 76.69em;
  width: 4.06em;
  height: 1.68em;
  text-align: center;
}
.b25 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  display: inline-block;
  width: 2.36em;
  height: 1.41em;
}
.bookers-total,
.bookers-total-balance {
  position: absolute;
  top: 0;
  left: 58.44em;
  width: 2.06em;
  height: 1.24em;
  font-family: "Open Sans";
}
.bookers-total {
  left: 41.16em;
  width: 1.06em;
}
.bookers4 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 3.64em;
  height: 1.41em;
}
.bookers-title,
.bookers3,
.third2 {
  position: absolute;
  top: 0.37em;
  left: 5.25em;
  width: 3.19em;
  height: 1.24em;
}
.bookers3,
.third2 {
  top: 0.31em;
  left: 0;
  width: 0.56em;
}
.bookers3 {
  top: 17.28em;
  left: 1.31em;
  width: 80.75em;
  height: 1.7em;
}
.admin-table-child1 {
  position: absolute;
  top: 15.92em;
  left: 0.94em;
  width: 97.25em;
  height: 0.06em;
}
.cashiers-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 4.06em;
  height: 1.68em;
  cursor: pointer;
}
.edit29 {
  position: absolute;
  top: 0.14em;
  left: 0.57em;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 3.07em;
  height: 1.53em;
}
.cashiers-button {
  position: absolute;
  top: 0;
  left: 76.75em;
  width: 4.06em;
  height: 1.68em;
  text-align: center;
}
.cashiers-total-balance,
.cashiers-total1 {
  position: absolute;
  top: 0.19em;
  left: 58.44em;
  width: 2.56em;
  height: 1.24em;
  font-family: "Open Sans";
}
.cashiers-total1 {
  top: 0.25em;
  left: 41.16em;
  width: 1.56em;
}
.cashiers4 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 3.79em;
  height: 1.41em;
}
.cashiers-title,
.cashiers3,
.second3 {
  position: absolute;
  top: 0.28em;
  left: 5.13em;
  width: 3.31em;
  height: 1.24em;
}
.cashiers3,
.second3 {
  top: 0.25em;
  left: 0;
  width: 0.56em;
}
.cashiers3 {
  top: 13.19em;
  left: 1.25em;
  width: 80.81em;
  height: 1.68em;
}
.admin-table-child2,
.admins-button {
  position: absolute;
  top: 12.08em;
  left: 0.94em;
  width: 97.25em;
  height: 0.06em;
}
.admins-button {
  top: 0;
  left: 76.69em;
  width: 4.06em;
  height: 1.68em;
  cursor: pointer;
  text-align: center;
}
.admins-total-balance {
  position: absolute;
  top: 0.13em;
  left: 58.47em;
  width: 2.06em;
  height: 1.24em;
  font-family: "Open Sans";
}
.b30 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  display: inline-block;
  width: 0.64em;
  height: 1.41em;
}
.admins-total {
  position: absolute;
  top: 0.13em;
  left: 41.16em;
  width: 0.56em;
  height: 1.24em;
  font-family: "Open Sans";
}
.admins1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 3.36em;
  height: 1.41em;
}
.admins,
.admins-title {
  position: absolute;
  top: 0.31em;
  left: 5.16em;
  width: 2.94em;
  height: 1.24em;
}
.admins {
  top: 9.48em;
  left: 1.31em;
  width: 80.75em;
  height: 1.68em;
}
.admin-table-child3 {
  position: absolute;
  top: 8.24em;
  left: 0.94em;
  width: 97.25em;
  height: 0.06em;
}
.actions6,
.categories,
.div43,
.total-balance1,
.total3 {
  position: absolute;
  top: 0;
  left: 122.79em;
  font-size: 0.63em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 4.41em;
  height: 1.49em;
}
.categories,
.div43,
.total-balance1,
.total3 {
  left: 93.09em;
  width: 7.92em;
}
.categories,
.div43,
.total3 {
  left: 65.86em;
  width: 3.11em;
}
.categories,
.div43 {
  left: 8.03em;
  width: 6.02em;
}
.div43 {
  left: 0;
  width: 0.6em;
}
.admin-titles {
  position: absolute;
  top: 6.57em;
  left: 1.44em;
  width: 79.5em;
  height: 0.93em;
  color: #a0aec0;
}
.total-15 {
  position: absolute;
  top: 2.16em;
  left: 1.39em;
  font-size: 0.88em;
  line-height: 140%;
  display: inline-block;
  width: 4.29em;
  height: 1.41em;
}
.ioniconccheckmarkccircle6 {
  position: absolute;
  top: 2.04em;
  left: 0;
  width: 0.94em;
  height: 0.93em;
  overflow: hidden;
}
.admins2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.13em;
  line-height: 140%;
  display: inline-block;
  color: #fff;
  width: 3.78em;
  height: 1.38em;
}
.admin-table,
.admin9 {
  position: absolute;
  top: 1.68em;
  left: 0.88em;
  width: 4.97em;
  height: 3.13em;
  color: #a0aec0;
  font-family: "Open Sans";
}
.admin-table {
  top: 17.19em;
  left: 18.13em;
  width: 100em;
  height: 28.09em;
  text-align: left;
  color: #fff;
  font-family: Lato;
}
