.total-expenses-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(26, 31, 55, 0.5)
  );
  backdrop-filter: blur(120px);
  width: 23.88em;
  height: 5em;
}
.total-expenses1 {
  position: absolute;
  top: 0;
  left: 0.04em;
  font-size: 0.75em;
  line-height: 100%;
  font-weight: 500;
  font-family: Lato;
  display: inline-block;
  width: 7.08em;
  height: 1.5em;
}
.kgs {
  top: 0.89em;
  left: 0;
  font-size: 1.13em;
  line-height: 140%;
}
.b7,
.kgs,
.text21 {
  position: absolute;
}
.b7 {
  top: 1.5em;
  left: 8.25em;
  font-size: 0.88em;
  line-height: 140%;
  color: #01b574;
}
.text21 {
  top: 1.28em;
  left: 1.34em;
  width: 9.03em;
  height: 2.56em;
}
.icon36,
.total-expenses {
  position: absolute;
  top: 0.97em;
  left: 19.63em;
  width: 3.5em;
  height: 3.5em;
}
.total-expenses {
  top: 0;
  left: 76.13em;
  width: 23.88em;
  height: 5em;
}
.last-login,
.sep-2023 {
  position: absolute;
  left: 0;
}
.last-login {
  top: 0;
  font-size: 0.75em;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  width: 5.71em;
  height: 1.5em;
}
.sep-2023 {
  top: 0.89em;
  font-size: 1.13em;
  line-height: 140%;
  font-family: "Open Sans";
}
.text22 {
  position: absolute;
  top: 1.28em;
  left: 1.34em;
  width: 6.81em;
  height: 2.56em;
}
.last-logins,
.last-weeks-expenses1 {
  position: absolute;
  top: 0;
  font-family: Lato;
}
.last-logins {
  left: 50.75em;
  width: 23.88em;
  height: 5em;
}
.last-weeks-expenses1 {
  left: 0;
  font-size: 0.75em;
  line-height: 100%;
  font-weight: 500;
}
.b8,
.text23 {
  position: absolute;
}
.b8 {
  top: 1.43em;
  left: 6.18em;
  font-size: 0.88em;
  line-height: 140%;
  color: #01b574;
}
.text23 {
  top: 1.28em;
  left: 1.34em;
  width: 7.06em;
  height: 2.56em;
}
.last-weeks-expenses {
  position: absolute;
  top: 0;
  left: 25.38em;
  width: 23.88em;
  height: 5em;
}
.kgs2 {
  top: 0.83em;
  left: 0;
  font-size: 1.13em;
  line-height: 140%;
  display: inline-block;
  width: 4.28em;
}
.b9,
.kgs2,
.text24 {
  position: absolute;
}
.b9 {
  top: 1.36em;
  left: 6.11em;
  font-size: 0.88em;
  line-height: 140%;
  color: #05cd99;
}
.text24 {
  top: 1.34em;
  left: 1.34em;
  width: 7.66em;
  height: 2.5em;
}
.analytics-cards1,
.current-balance {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.88em;
  height: 5em;
}
.analytics-cards1 {
  top: 6.47em;
  left: 18.63em;
  width: 100em;
  text-align: left;
  color: #fff;
  font-family: "Open Sans";
}
