.booker-users-table-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(9, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
  width: 100em;
  height: 27.5em;
}
.booker-users-table-item,
.edit18 {
  position: absolute;
  top: 25.16em;
  left: 0.84em;
  width: 97.25em;
  height: 0.06em;
}
.edit18 {
  top: 0.14em;
  left: 0.64em;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 3.07em;
  height: 1.54em;
}
.admins-deactivate-child1,
.admins-edit3 {
  position: absolute;
  top: 0;
  left: 12.81em;
  width: 4.06em;
  height: 1.69em;
}
.admins-deactivate-child1 {
  left: 0.17em;
  border-radius: 8px;
  width: 5.01em;
}
.deactivate3 {
  position: absolute;
  top: 0.21em;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 5.96em;
  height: 1.5em;
}
.admins-deactivate3,
.admins-delete-child1 {
  position: absolute;
  top: 0;
  left: 6.56em;
  width: 5.22em;
  height: 1.69em;
}
.admins-delete-child1 {
  left: 0.33em;
  border-radius: 8px;
  background-color: #b50101;
  width: 5.41em;
}
.delete3 {
  position: absolute;
  top: 0.14em;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 6.75em;
  height: 1.54em;
}
.admins-delete3,
.bookers-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.91em;
  height: 1.69em;
}
.bookers-actions {
  top: 0.19em;
  left: 64.5em;
  width: 16.88em;
  text-align: center;
}
.admins-active-item {
  border-radius: 8px;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.admins-active-item,
.admins-active1,
.bookers-status {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.06em;
  height: 1.69em;
}
.bookers-status {
  left: 42.44em;
  text-align: center;
}
.sultonmamadov {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
}
.bookers-first-name,
.bookers-last-name,
.fourth {
  position: absolute;
  top: 0.31em;
  left: 22.5em;
  width: 6.5em;
  height: 1.25em;
}
.bookers-first-name,
.fourth {
  left: 10.94em;
  width: 1.94em;
}
.fourth {
  left: 0;
  width: 0.56em;
}
.fourth-booker-user {
  position: absolute;
  top: 22.25em;
  left: 1.63em;
  width: 81.38em;
  height: 1.88em;
}
.booker-users-table-inner {
  position: absolute;
  top: 20.66em;
  left: 0.84em;
  width: 97.25em;
  height: 0.06em;
}
.bookers-first-name1,
.bookers-last-name1 {
  position: absolute;
  top: 0.31em;
  left: 22.5em;
  width: 3.63em;
  height: 1.25em;
}
.bookers-first-name1 {
  left: 10.94em;
  width: 3.06em;
}
.third-booker-user {
  position: absolute;
  top: 17.94em;
  left: 1.63em;
  width: 81.38em;
  height: 1.88em;
}
.booker-users-table-child1 {
  position: absolute;
  top: 16.28em;
  left: 0.84em;
  width: 97.25em;
  height: 0.06em;
}
.bookers-first-name2,
.bookers-last-name2 {
  position: absolute;
  top: 0.31em;
  left: 22.5em;
  width: 5.5em;
  height: 1.25em;
}
.bookers-first-name2 {
  left: 10.94em;
  width: 3.75em;
}
.second-booker-user {
  position: absolute;
  top: 13.06em;
  left: 1.63em;
  width: 81.38em;
  height: 1.88em;
}
.booker-users-table-child2 {
  position: absolute;
  top: 11.72em;
  left: 0.97em;
  width: 97.25em;
  height: 0.06em;
}
.bookers-first-name3,
.bookers-last-name3 {
  position: absolute;
  top: 0.31em;
  left: 22.5em;
  width: 5.19em;
  height: 1.25em;
}
.bookers-first-name3 {
  left: 10.94em;
  width: 3.5em;
}
.first-booker-user {
  position: absolute;
  top: 9em;
  left: 1.75em;
  width: 81.38em;
  height: 1.88em;
}
.booker-users-table-child3 {
  position: absolute;
  top: 7.78em;
  left: 0.94em;
  width: 97.25em;
  height: 0.06em;
}
.actions4,
.first-name2,
.last-name2,
.numeration2,
.status2 {
  position: absolute;
  top: 0.3em;
  left: 115.9em;
  font-size: 0.63em;
  line-height: 150%;
  font-weight: 500;
}
.first-name2,
.last-name2,
.numeration2,
.status2 {
  top: 0;
  left: 68.8em;
}
.first-name2,
.last-name2,
.numeration2 {
  top: 0.3em;
  left: 35.8em;
}
.first-name2,
.numeration2 {
  left: 17.3em;
}
.numeration2 {
  left: 0;
}
.titles6 {
  position: absolute;
  top: 5.94em;
  left: 1.88em;
  width: 75.19em;
  height: 1.13em;
  color: #a0aec0;
}
.total-4 {
  position: absolute;
  top: 2.14em;
  left: 1.39em;
  font-size: 0.88em;
  line-height: 140%;
  display: inline-block;
  width: 4.29em;
  height: 1.41em;
}
.ioniconccheckmarkccircle4 {
  position: absolute;
  top: 2.03em;
  left: 0;
  width: 0.94em;
  height: 0.93em;
  overflow: hidden;
}
.bookers2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.13em;
  line-height: 140%;
  display: inline-block;
  color: #fff;
  width: 7em;
  height: 1.39em;
}
.bookers1 {
  position: absolute;
  top: 1.38em;
  left: 0.81em;
  width: 7.88em;
  height: 3.11em;
  color: #a0aec0;
  font-family: "Open Sans";
}
.booker-users-table {
  position: absolute;
  top: 17.5em;
  left: 18.19em;
  width: 100em;
  height: 27.5em;
  text-align: left;
  color: #fff;
  font-family: Lato;
}
