.cashiers-users-table-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(9, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
  width: 100em;
  height: 27.5em;
}
.cashiers-users-table-child5 {
  position: absolute;
  top: 25.16em;
  left: 0.84em;
  width: 97.25em;
  height: 0.06em;
}
.cashiers-users-table-child6,
.cashiers-users-table-child7 {
  position: absolute;
  top: 20.66em;
  left: 0.84em;
  width: 97.25em;
  height: 0.06em;
}
.cashiers-users-table-child7 {
  top: 16.28em;
}
.admins-edit-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 4.06em;
  height: 1.69em;
}
.edit16 {
  position: absolute;
  top: 0.14em;
  left: 0.64em;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 3.07em;
  height: 1.54em;
}
.admins-deactivate-item,
.admins-edit1 {
  position: absolute;
  top: 0;
  left: 12.81em;
  width: 4.06em;
  height: 1.69em;
}
.admins-deactivate-item {
  left: 0.17em;
  border-radius: 8px;
  width: 5.01em;
}
.deactivate1 {
  position: absolute;
  top: 0.21em;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 5.96em;
  height: 1.5em;
}
.admins-deactivate1,
.admins-delete-item {
  position: absolute;
  top: 0;
  left: 6.56em;
  width: 5.22em;
  height: 1.69em;
}
.admins-delete-item {
  left: 0.33em;
  border-radius: 8px;
  background-color: #b50101;
  width: 5.41em;
}
.delete1 {
  position: absolute;
  top: 0.14em;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 6.75em;
  height: 1.54em;
}
.admins-delete1,
.cashiers-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.91em;
  height: 1.69em;
}
.cashiers-actions {
  top: 0.19em;
  left: 64.5em;
  width: 16.88em;
  text-align: center;
}
.admins-active,
.cashiers-status {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.06em;
  height: 1.69em;
}
.cashiers-status {
  left: 42.44em;
  text-align: center;
}
.azorabekova {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
}
.cashiers-first-name,
.cashiers-last-name,
.second {
  position: absolute;
  top: 0.31em;
  left: 22.5em;
  width: 5em;
  height: 1.25em;
}
.cashiers-first-name,
.second {
  left: 10.94em;
  width: 2.94em;
}
.second {
  left: 0;
  width: 0.56em;
}
.second-cashier-user {
  position: absolute;
  top: 13.06em;
  left: 1.63em;
  width: 81.38em;
  height: 1.88em;
}
.cashiers-users-table-child8 {
  position: absolute;
  top: 11.72em;
  left: 0.97em;
  width: 97.25em;
  height: 0.06em;
}
.cashiers-first-name1,
.cashiers-last-name1 {
  position: absolute;
  top: 0.31em;
  left: 22.5em;
  width: 5.31em;
  height: 1.25em;
}
.cashiers-first-name1 {
  left: 10.94em;
  width: 2.44em;
}
.first-cashier-user {
  position: absolute;
  top: 9em;
  left: 1.75em;
  width: 81.38em;
  height: 1.88em;
}
.cashiers-users-table-child9 {
  position: absolute;
  top: 7.78em;
  left: 0.94em;
  width: 97.25em;
  height: 0.06em;
}
.actions3,
.first-name1,
.last-name1,
.numeration1,
.status1 {
  position: absolute;
  top: 0.3em;
  left: 115.9em;
  font-size: 0.63em;
  line-height: 150%;
  font-weight: 500;
}
.first-name1,
.last-name1,
.numeration1,
.status1 {
  top: 0;
  left: 68.8em;
}
.first-name1,
.last-name1,
.numeration1 {
  top: 0.3em;
  left: 35.8em;
}
.first-name1,
.numeration1 {
  left: 17.3em;
}
.numeration1 {
  left: 0;
}
.titles5 {
  position: absolute;
  top: 5.94em;
  left: 1.88em;
  width: 75.19em;
  height: 1.13em;
  color: #a0aec0;
}
.total-2 {
  position: absolute;
  top: 0;
  left: 1.39em;
  font-size: 0.88em;
  line-height: 140%;
  display: inline-block;
  width: 4.29em;
  height: 1.41em;
}
.ioniconccheckmarkccircle3 {
  position: absolute;
  top: 0.16em;
  left: 0;
  width: 0.94em;
  height: 0.93em;
  overflow: hidden;
}
.cashiers-total,
.cashiers2 {
  position: absolute;
  top: 1.88em;
  left: 0;
  width: 4.97em;
  height: 1.24em;
}
.cashiers2 {
  top: 0;
  font-size: 1.13em;
  line-height: 140%;
  display: inline-block;
  color: #fff;
  width: 7em;
  height: 1.39em;
}
.cashiers1 {
  position: absolute;
  top: 1.38em;
  left: 0.81em;
  width: 7.88em;
  height: 3.11em;
  color: #a0aec0;
  font-family: "Open Sans";
}
.cashiers-users-table1 {
  position: absolute;
  top: 17.5em;
  left: 18.19em;
  width: 100em;
  height: 27.5em;
  text-align: left;
  color: #fff;
  font-family: Lato;
}
