.background-child16 {
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(9, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
}
.background-child16,
.background15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 57.75em;
  height: 27.81em;
}
.last-update-10 {
  position: absolute;
  top: 4.21em;
  left: 1.54em;
  font-size: 0.88em;
  line-height: 140%;
  color: #05cd99;
}
.communication-center {
  position: absolute;
  top: 1.56em;
  left: 1.17em;
  font-size: 1.13em;
  line-height: 140%;
}
.second-card1 {
  position: absolute;
  top: 23em;
  left: 0;
  width: 57.75em;
  height: 27.81em;
  text-align: left;
  color: #fff;
  font-family: "Open Sans";
}
