.contact-icon2,
.contact6 {
  position: relative;
  width: 2.56em;
  height: 2.51em;
}
.contact6 {
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  width: 3.5em;
  height: 0.97em;
  flex-shrink: 0;
}
.contact-menu2,
.contact6,
.profile6 {
  display: flex;
  align-items: center;
}
.contact-menu2 {
  position: absolute;
  top: 16.58em;
  left: 0.94em;
  width: 5.91em;
  height: 1.83em;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.94em;
}
.profile6 {
  position: relative;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  width: 2.86em;
  height: 0.97em;
  flex-shrink: 0;
}
.account-pages4,
.profile-menu2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.profile-menu2 {
  top: 13.3em;
  left: 0.94em;
  width: 5.34em;
  height: 1.83em;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.94em;
}
.account-pages4 {
  top: 14.33em;
  left: 1.25em;
  font-size: 0.75em;
  line-height: 150%;
  font-weight: 500;
  width: 8.75em;
  height: 1.46em;
}
.settings-icon-inner {
  position: relative;
  border-radius: 12px;
  background-color: #1a1f37;
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 1.88em;
  height: 1.83em;
}
.ioniconbbuilddefault5 {
  position: relative;
  width: 0.94em;
  height: 0.91em;
  overflow: hidden;
  flex-shrink: 0;
  margin-top: -1.31em;
}
.settings-icon2,
.settings6 {
  display: flex;
  align-items: center;
}
.settings-icon2 {
  width: 1.88em;
  height: 1.83em;
  flex-direction: column;
  justify-content: flex-end;
}
.settings6 {
  position: relative;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  width: 3.57em;
  height: 0.97em;
  flex-shrink: 0;
}
.settings-menu2 {
  position: absolute;
  top: 7.47em;
  left: 0.94em;
  width: 5.97em;
  height: 1.83em;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.94em;
}
.payment-menu2,
.payment6,
.settings-menu2 {
  display: flex;
  align-items: center;
}
.payment6 {
  position: relative;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  width: 3.93em;
  height: 0.97em;
  flex-shrink: 0;
}
.payment-menu2 {
  position: absolute;
  top: 4.19em;
  left: 0.94em;
  width: 6.28em;
  height: 1.83em;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.94em;
}
.dashboard-icon2,
.dashboard7 {
  position: relative;
  width: 1.88em;
  height: 1.83em;
}
.dashboard7 {
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  width: 4.79em;
  height: 0.97em;
  flex-shrink: 0;
}
.accounting6,
.dashboard-menu2,
.dashboard7 {
  display: flex;
  align-items: center;
}
.dashboard-menu2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 13.72em;
  height: 28.3em;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0.94em 26.48em;
  box-sizing: border-box;
  gap: 0.94em;
}
.accounting6 {
  position: relative;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  width: 5em;
  height: 0.97em;
  flex-shrink: 0;
}
.accounting-menu2 {
  position: absolute;
  top: 28.63em;
  left: 0.94em;
  width: 7.22em;
  height: 1.83em;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.94em;
}
.accounting-menu2,
.canteen-menu2,
.canteen6 {
  display: flex;
  align-items: center;
}
.canteen6 {
  position: relative;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  width: 3.71em;
  height: 0.97em;
  flex-shrink: 0;
}
.canteen-menu2 {
  position: absolute;
  top: 25.35em;
  left: 0.94em;
  width: 6.09em;
  height: 1.83em;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.94em;
}
.clients-menu-inner {
  position: absolute;
  top: -0.55em;
  left: -1em;
  border-radius: 15px;
  background-color: #1a1f37;
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 13.72em;
  height: 3.28em;
}
.clients-icon2,
.clients6 {
  position: absolute;
  top: -0.12em;
  left: -0.34em;
  width: 2.56em;
  height: 2.51em;
}
.clients6 {
  top: 0.56em;
  left: 3.25em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 3.07em;
  height: 0.97em;
}
.clients-menu2 {
  position: absolute;
  top: 22.07em;
  left: 0.94em;
  width: 5.53em;
  height: 1.83em;
}
.cash-menu2,
.cash6 {
  display: flex;
  align-items: center;
}
.cash6 {
  position: relative;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  width: 2.21em;
  height: 0.97em;
  flex-shrink: 0;
}
.cash-menu2 {
  position: absolute;
  top: 38.47em;
  left: 0.94em;
  width: 4.78em;
  height: 1.83em;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.94em;
}
.admin6 {
  position: relative;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  width: 2.93em;
  height: 0.97em;
  flex-shrink: 0;
}
.admin-menu2,
.admin6,
.reception7 {
  display: flex;
  align-items: center;
}
.admin-menu2 {
  position: absolute;
  top: 35.19em;
  left: 0.94em;
  width: 5.41em;
  height: 1.83em;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.94em;
}
.reception7 {
  position: relative;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  width: 4.5em;
  height: 0.97em;
  flex-shrink: 0;
}
.admin-pages4,
.reception-menu2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.reception-menu2 {
  top: 31.91em;
  left: 0.94em;
  width: 6.78em;
  height: 1.83em;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.94em;
}
.admin-pages4 {
  top: 26.03em;
  left: 1.25em;
  font-size: 0.75em;
  line-height: 150%;
  font-weight: 500;
  width: 8.75em;
  height: 1.46em;
}
.menu14 {
  position: absolute;
  top: 7.17em;
  left: 1.44em;
  width: 13.72em;
  height: 43.79em;
}
.removebg-preview-1-icon4 {
  position: relative;
  width: 2.83em;
  height: 2.86em;
  object-fit: cover;
}
.uca-canteen4 {
  position: relative;
  font-size: 0.88em;
  letter-spacing: 0.18em;
  line-height: 100%;
  font-weight: 500;
  background: linear-gradient(97.89deg, #fff, rgba(117, 122, 140, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 9.5em;
  height: 1.04em;
  flex-shrink: 0;
  margin-left: -0.43em;
}
.logo4 {
  position: absolute;
  top: 0.97em;
  left: 2.88em;
  width: 10.75em;
  height: 2.86em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.sidebar-child3,
.sidebar4 {
  position: absolute;
  top: 4.61em;
  left: 0.94em;
  width: 14.58em;
  height: 0.06em;
}
.sidebar4 {
  top: 0;
  left: 0.13em;
  border-radius: 20px;
  background: linear-gradient(
    111.84deg,
    rgba(41, 63, 177, 0.3) 99.99%,
    rgba(26, 31, 55, 0)
  );
  backdrop-filter: blur(120px);
  width: 16.5em;
  height: 68.94em;
  text-align: left;
  color: #fff;
  font-family: Lato;
}
