.addons9,
.icon40 {
  position: relative;
  flex-shrink: 0;
}
.icon40 {
  width: 0.94em;
  height: 0.94em;
  overflow: hidden;
}
.addons9 {
  font-size: 0.44em;
  line-height: 150%;
  display: none;
  align-items: center;
  width: 3.43em;
  height: 1.5em;
}
.addon9,
.auto-added-frame9 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addon9 {
  height: 1.25em;
  justify-content: flex-start;
  padding: 0.25em 0.38em;
  box-sizing: border-box;
  gap: 0.31em;
}
.auto-added-frame9 {
  align-self: stretch;
  width: 2.34em;
  flex-shrink: 0;
  justify-content: center;
}
.type-here9 {
  position: relative;
  font-size: 0.75em;
  line-height: 150%;
}
.password-text-icon10 {
  position: relative;
  width: 2.19em;
  height: 0.22em;
  display: none;
}
.content16 {
  position: relative;
  width: 0;
  height: 0;
}
.inputfieldtext10,
.minwidth11 {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.minwidth11 {
  flex-direction: row;
  align-items: center;
  padding: 0 4.63em;
}
.inputfieldtext10 {
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  font-family: Lato;
}
.inputwithaddons9 {
  position: absolute;
  height: 100%;
  width: 59.4%;
  top: 0;
  right: 40.6%;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  background-color: rgba(41, 63, 177, 0.74);
  border: 0.5px solid rgba(226, 232, 240, 0.3);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ioniconppersondefault15 {
  position: relative;
  width: 0.75em;
  height: 0.75em;
  overflow: hidden;
  flex-shrink: 0;
}
.listitemdefault9 {
  position: absolute;
  top: 0.72em;
  left: 13.56em;
  width: 3.63em;
  height: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25em;
  color: #fff;
  font-family: Lato;
}
.ioniconnnotificationsdefaul9,
.ioniconssettingssharp9 {
  position: absolute;
  top: 0.88em;
  left: 18.38em;
  width: 0.75em;
  height: 0.75em;
  overflow: hidden;
}
.ioniconnnotificationsdefaul9 {
  left: 20.19em;
}
.menu13 {
  position: absolute;
  height: 75.24%;
  width: 21.5%;
  top: 0;
  right: 0;
  bottom: 24.76%;
  left: 78.5%;
}
.dashboard6 {
  position: absolute;
  top: 1.29em;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
}
.breadcrumb13,
.text25 {
  position: absolute;
  top: 0.91em;
  left: 0;
  width: 7.09em;
  height: 2.38em;
  color: #fff;
  font-family: Lato;
}
.breadcrumb13 {
  height: 3.17%;
  width: 81.15%;
  top: 1.36%;
  right: 2.47%;
  bottom: 95.47%;
  left: 16.38%;
  text-align: left;
  color: #000;
  font-family: Helvetica;
}
