.background-child12 {
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(9, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
}
.background-child12,
.background10,
.list-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100em;
  height: 30.53em;
}
.list-child {
  top: 18.66em;
  left: -0.03em;
  width: 97.25em;
  height: 0.06em;
}
.contractor {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
}
.fifth-client-department {
  position: absolute;
  top: 0.69em;
  left: 61.63em;
  width: 4.19em;
  height: 1.25em;
}
.fifth-client-position,
.function6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.19em;
  height: 1.25em;
}
.fifth-client-position {
  top: 0.47em;
  left: 47.66em;
}
.milk {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  color: #fff;
}
.fifth-client-function {
  position: absolute;
  top: 0.03em;
  left: 31.88em;
  width: 3.31em;
  height: 2.44em;
  color: #a0aec0;
}
.shirikuhistongmailcom {
  position: absolute;
  top: 1.36em;
  left: 0;
  font-size: 0.88em;
  line-height: 150%;
  font-weight: 500;
}
.image-icon10,
.name6 {
  position: absolute;
  top: 0;
  left: 3.44em;
  width: 9.56em;
  height: 2.5em;
}
.image-icon10 {
  top: -0.12em;
  left: -0.34em;
  width: 3.19em;
  height: 3.19em;
  object-fit: cover;
}
.fifth-client-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 13em;
  height: 2.5em;
  color: #a0aec0;
}
.fifth-client,
.list-item {
  position: absolute;
  top: 15.5em;
  left: 0;
  width: 65.81em;
  height: 2.5em;
}
.list-item {
  top: 14.78em;
  left: -0.03em;
  width: 97.25em;
  height: 0.06em;
}
.fourth-client-position {
  position: absolute;
  top: 0.53em;
  left: 47.72em;
  width: 2.19em;
  height: 1.25em;
}
.organization {
  position: absolute;
  top: 1.29em;
  left: 0;
  font-size: 0.88em;
  line-height: 150%;
  font-weight: 500;
}
.fourth-client-function {
  position: absolute;
  top: 0.03em;
  left: 31.88em;
  width: 5em;
  height: 2.44em;
  color: #a0aec0;
}
.fourth-client-avatar,
.name7 {
  position: absolute;
  top: 0;
  left: 3.44em;
  width: 10em;
  height: 2.5em;
}
.fourth-client-avatar {
  left: 0;
  width: 13.44em;
  color: #a0aec0;
}
.fourth-client,
.list-inner {
  position: absolute;
  top: 11.63em;
  left: 0;
  width: 65.81em;
  height: 2.5em;
}
.list-inner {
  top: 10.91em;
  left: -0.03em;
  width: 97.25em;
  height: 0.06em;
}
.third-client-position {
  position: absolute;
  top: 0.66em;
  left: 47.66em;
  width: 4.19em;
  height: 1.25em;
}
.third-client-function {
  position: absolute;
  top: 0.03em;
  left: 31.88em;
  width: 3.13em;
  height: 2.44em;
  color: #a0aec0;
}
.name8,
.third-client-avatar {
  position: absolute;
  top: 0;
  left: 3.44em;
  width: 8em;
  height: 2.5em;
}
.third-client-avatar {
  left: 0;
  width: 11.44em;
  color: #a0aec0;
}
.list-child1,
.third-client {
  position: absolute;
  top: 7.75em;
  left: 0;
  width: 65.81em;
  height: 2.5em;
}
.list-child1 {
  top: 7.03em;
  left: -0.03em;
  width: 97.25em;
  height: 0.06em;
}
.second-client-position {
  position: absolute;
  top: 0.53em;
  left: 47.66em;
  width: 4.19em;
  height: 1.25em;
}
.company {
  position: absolute;
  top: 1.54em;
  left: 0.04em;
  font-size: 0.88em;
  line-height: 150%;
  font-weight: 500;
}
.second-client-function {
  position: absolute;
  top: 0.03em;
  left: 31.88em;
  width: 5.06em;
  height: 2.66em;
  color: #a0aec0;
}
.name9,
.second-client-avatar {
  position: absolute;
  top: 0;
  left: 3.44em;
  width: 9.69em;
  height: 2.5em;
}
.second-client-avatar {
  left: 0;
  width: 13.13em;
  color: #a0aec0;
}
.list-child2,
.second-client {
  position: absolute;
  top: 3.88em;
  left: 0;
  width: 65.81em;
  height: 2.69em;
}
.list-child2 {
  top: 3.16em;
  left: -0.03em;
  width: 97.25em;
  height: 0.06em;
}
.first-client-position {
  position: absolute;
  top: 0.78em;
  left: 47.66em;
  width: 2.19em;
  height: 1.25em;
}
.first-client,
.list {
  position: absolute;
  top: 0;
  left: 0;
  width: 65.81em;
  height: 2.5em;
}
.list {
  top: 7.25em;
  left: 1.44em;
  width: 97.19em;
  height: 18.69em;
}
.choose-department-for-a-new-cl-child {
  position: absolute;
  top: 6.47em;
  left: 1.38em;
  width: 97.25em;
  height: 0.06em;
}
.department {
  position: absolute;
  top: 0.1em;
  left: 98.55em;
  font-size: 0.63em;
  line-height: 150%;
  font-weight: 500;
}
.edit-department {
  position: absolute;
  top: 0;
  left: 129.95em;
}
.edit-department,
.function9,
.position {
  font-size: 0.63em;
  line-height: 150%;
  font-weight: 500;
}
.position {
  position: absolute;
  top: 0.2em;
  left: 76.05em;
}
.function9 {
  top: 0;
  left: 51.05em;
}
.function9,
.name11,
.titles {
  position: absolute;
}
.name11 {
  top: 0.05em;
  left: 0;
  font-size: 0.63em;
  line-height: 150%;
  font-weight: 500;
}
.titles {
  top: 4.75em;
  left: 1.41em;
  width: 86.91em;
  height: 1.06em;
  color: #a0aec0;
}
.choose-department-for {
  position: absolute;
  top: 1.56em;
  left: 1.17em;
  font-size: 1.13em;
  line-height: 140%;
  font-family: "Open Sans";
}
.choose-department-for-a-new-cl {
  position: absolute;
  top: 16.69em;
  left: 18.31em;
  width: 100em;
  height: 30.53em;
  text-align: left;
  color: #fff;
  font-family: Lato;
}
