.background-child15 {
  border-radius: 20px;
  background: linear-gradient(
    127.09deg,
    rgba(6, 12, 41, 0.94),
    rgba(9, 14, 35, 0.49)
  );
  backdrop-filter: blur(120px);
}
.background-child15,
.background14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 54.56em;
  height: 8.28em;
}
.date-20-september {
  margin: 0;
}
.date-20-september-container,
.faculty-and-staff {
  position: absolute;
  top: 2.08em;
  left: 0.08em;
  font-size: 0.75em;
  line-height: 150%;
  display: inline-block;
  width: 45.25em;
}
.faculty-and-staff {
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 800;
  width: 12.14em;
}
.details,
.second-message {
  position: absolute;
  top: 1.63em;
  left: 1.75em;
  width: 34em;
  height: 4.94em;
}
.second-message {
  top: 17em;
  left: 1.44em;
  width: 54.56em;
  height: 8.28em;
  text-align: left;
  color: #fff;
  font-family: Lato;
}
