.background-child10 {
  position: absolute;
  top: -0.12em;
  left: -0.12em;
  border-radius: 30px;
  width: 28.56em;
  height: 44.94em;
}
.dont-have-an {
  font-weight: 500;
}
.b {
  font-family: "Open Sans";
  color: #fff;

}
.dont-have-an-container {
  position: absolute;
  top: 45.86em;
  left: 8.36em;
  font-size: 0.88em;
  line-height: 140%;
}
.background8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 28.31em;
  height: 44.69em;
}
.div {
  position: relative;
  font-size: 0.69em;
  line-height: 1.09em;
}
.icon24 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.03em;
}
.text12 {
  position: relative;
  font-size: 0.63em;
  line-height: 150%;
  font-family: "Open Sans";
  color: #fff;
}
.button-body,
.height-structure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-body {
  overflow: hidden;
  align-items: flex-start;
  gap: 0.25em;
}
.height-structure {
  height: 1.5em;
  align-items: center;
}
.content10 {
  position: relative;
  background-color: #c4c4c4;
  width: 0;
  height: 0;
}
.minwidth10 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.75em;
}
.buttonbase,
.width-structure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.width-structure {
  overflow: hidden;
  flex-direction: column;
}
.buttonbase {
  position: absolute;
  height: 6.29%;
  width: 77.26%;
  top: 81.61%;
  right: 12.14%;
  bottom: 12.1%;
  left: 10.6%;
  border-radius: 12px;
  background-color: #05cd99;
  backdrop-filter: blur(120px);
  flex-direction: row;
  padding: 0 0.5em;
  box-sizing: border-box;
  color: #000;
  font-family: "Font Awesome 5 Free";
}
.remember-me1 {
  position: absolute;
  top: 0;
  left: 3.83em;
  font-size: 0.75em;
  line-height: 150%;
  font-weight: 500;
}
.switchbase-child {
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  width: 0.84em;
  height: 0.84em;
}
.switchbase {
  position: absolute;
  height: 100%;
  width: 29.27%;
  top: 0;
  right: 70.73%;
  bottom: 0;
  left: 0;
  border-radius: 97.74px;
  background-color: #05cd99;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0.09em 0.16em 0.09em 0.09em;
  box-sizing: border-box;
}
.inputs,
.remember-me {
  position: absolute;
  top: 33.06em;
  left: 3em;
  width: 7.69em;
  height: 1.16em;
  text-align: left;
  color: #fff;
}
.inputs {
  top: 2.88em;
  left: 30.75em;
  width: 28.31em;
  height: 44.69em;
  text-align: center;
  color: #a0aec0;
  font-family: Lato;
}

@media (max-width: 1920px) and (min-width: 1201px) {
  .inputs {
    top: 2.88em;
    left: 41.75em;
    height: 44.69em;
    text-align: center;
    color: #a0aec0;
    font-family: Lato;
  }

}

@media (max-width: 1200px) and (min-width: 1024px) {
  .inputs {
    top: 2.88em;
    left: 17.75em;
    width: 28.31em;
    height: 44.69em;
    text-align: center;
    color: #a0aec0;
    font-family: Lato;
  }

}

@media (max-width: 1024px) and (min-width: 992px) {
  .inputs {
    top: 2.88em;
    left: 16.75em;
    width: 28.31em;
    height: 44.69em;
    text-align: center;
    color: #a0aec0;
    font-family: Lato;
  }

}

@media (max-width: 992px) and (min-width: 768px) {
  .inputs {
    top: 2.88em;
    left: 10.75em;
    width: 28.31em;
    height: 44.69em;
    text-align: center;
    color: #a0aec0;
    font-family: Lato;
  }

}

@media (max-width: 768px) and (min-width: 640px) {
  .inputs {
    top: 2.88em;
    left: 10.75em;
    width: 28.31em;
    height: 44.69em;
    text-align: center;
    color: #a0aec0;
    font-family: Lato;
  }

}

@media (max-width: 640px) and (min-width: 480px){
  .inputs{
    top: 2.88em;
    left: 5%;
    width: 28.31em;
    height: 44.69em;
    text-align: center;
    color: #a0aec0;
    font-family: Lato;
  }


}

@media (max-width: 480px){
  .inputs{
    top: 2.88em;
    left: 0.5%;
    width: 28.31em;
    height: 44.69em;
    text-align: center;
    color: #a0aec0;
    font-family: Lato;
  }

}