.background-child14 {
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(9, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
}
.background-child14,
.background13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 66.06em;
  height: 32.56em;
}
.text13 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 24.15px);
  font-size: 0.75em;
  line-height: 100%;
  font-weight: 500;
}
.ioniconaarrowforward {
  position: absolute;
  top: 0.06em;
  left: 2.21em;
  width: 0.81em;
  height: 0.81em;
  overflow: hidden;
}
.more {
  position: absolute;
  top: calc(50% + 55.5px);
  left: calc(50% + 461.85px);
  width: 3.02em;
  height: 0.88em;
  text-align: center;
}
.line-icon6 {
  position: absolute;
  top: 3.14em;
  left: 0;
  width: 63.31em;
  height: 0.06em;
}
.creamy-mushroom-risotto,
.vegetarian-contains-dairy {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75em;
  line-height: 140%;
  display: inline-block;
  width: 12.58em;
  height: 4.27em;
}
.vegetarian-contains-dairy {
  top: 0.5em;
  left: 15em;
  width: 13.42em;
  height: 2.84em;
}
.budget {
  position: absolute;
  top: 0;
  left: 41.38em;
  width: 21.31em;
  height: 3.2em;
}
.beef-stir-fry {
  top: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 16.14em;
  height: 1.44em;
}
.beef-stir-fry,
.content11,
.title6 {
  position: absolute;
  left: 0;
}
.title6 {
  top: 0.63em;
  width: 14.13em;
  height: 1.26em;
  font-family: Lato;
}
.content11 {
  top: 0;
  width: 62.69em;
  height: 3.2em;
}
.soft-ui-xd {
  top: 0;
  width: 63.28em;
  height: 3.2em;
}
.dinner-child,
.items4,
.soft-ui-xd {
  position: absolute;
  left: 0;
}
.items4 {
  top: 4.21em;
  width: 63.28em;
  height: 3.2em;
  font-family: "Open Sans";
}
.dinner-child {
  top: 3.45em;
  width: 63.31em;
  height: 0.06em;
}
.description,
.dietary-info,
.food,
.price {
  position: absolute;
  top: 0;
  left: 84.15em;
  font-size: 0.63em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 6.7em;
  height: 1.51em;
}
.description,
.food,
.price {
  left: 66.4em;
  width: 6.6em;
}
.food,
.price {
  left: 45em;
  width: 2.8em;
}
.food {
  left: 0;
  width: 3em;
}
.dinner1,
.titles1 {
  position: absolute;
  top: 1.76em;
  left: 0.03em;
  width: 56.78em;
  height: 0.94em;
  color: #a0aec0;
}
.dinner1 {
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 800;
  font-family: "Open Sans";
  display: inline-block;
  width: 3.5em;
  height: 1.44em;
}
.dinner,
.more1 {
  position: absolute;
  top: calc(50% + 106.5px);
  left: calc(50% - 506.5px);
  width: 63.77em;
  height: 8.69em;
}
.more1 {
  top: calc(50% + 56.55px);
  left: calc(50% + 460.85px);
  width: 3.02em;
  height: 0.88em;
  text-align: center;
}
.line-icon7 {
  position: absolute;
  top: 2.76em;
  left: 0;
  width: 63.31em;
  height: 0.06em;
}
.grilled-chicken-breast,
.high-in-protein {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75em;
  line-height: 140%;
  display: inline-block;
  width: 11.33em;
  height: 2.84em;
}
.high-in-protein {
  left: 14.83em;
  width: 13.42em;
}
.budget1,
.title7 {
  position: absolute;
  top: 0;
  left: 41.5em;
  width: 21.19em;
  height: 2.13em;
}
.title7 {
  top: 0.25em;
  left: 0;
  width: 14.13em;
  height: 1.26em;
  font-family: Lato;
}
.content12,
.items5,
.lunch1,
.soft-ui-xd1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 62.69em;
  height: 2.13em;
}
.items5,
.lunch1,
.soft-ui-xd1 {
  width: 63.28em;
  height: 2.79em;
}
.items5,
.lunch1 {
  top: 4.58em;
  font-family: "Open Sans";
}
.lunch1 {
  top: 0;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 800;
  color: #a0aec0;
  display: inline-block;
  width: 3.14em;
  height: 1.44em;
}
.lunch,
.more2 {
  position: absolute;
  top: calc(50% - 42.5px);
  left: calc(50% - 507.5px);
  width: 63.64em;
  height: 8.82em;
}
.more2 {
  top: calc(50% + 57.35px);
  left: calc(50% + 460.35px);
  width: 3.02em;
  height: 0.88em;
  text-align: center;
}
.breakfast1,
.scrambled-eggs-melted {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75em;
  line-height: 140%;
  display: inline-block;
  width: 9.67em;
  height: 2.84em;
}
.breakfast1 {
  font-size: 0.88em;
  font-weight: 800;
  font-family: "Open Sans";
  color: #a0aec0;
  width: 5.07em;
  height: 1.44em;
}
.breakfast {
  position: absolute;
  top: calc(50% - 191.5px);
  left: calc(50% - 507.5px);
  width: 63.58em;
  height: 8.92em;
}
.todayss-menu {
  position: absolute;
  top: 1.56em;
  left: 1.17em;
  font-size: 1.13em;
  line-height: 140%;
  display: inline-block;
  font-family: "Open Sans";
  width: 7.39em;
  height: 0.72em;
}
.first-card1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 66.06em;
  height: 32.56em;
  text-align: left;
  color: #fff;
  font-family: Lato;
}
