.background-child13 {
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(9, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
}
.background-child13,
.background12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32.44em;
  height: 32.56em;
}
.kgs-breakfast,
.sep-720-am {
  position: absolute;
  top: 2.01em;
  left: 0;
  font-size: 0.75em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 6.67em;
  height: 1.51em;
}
.kgs-breakfast {
  top: 0;
  font-size: 0.88em;
  color: #fff;
  width: 8.14em;
}
.icon26,
.title1 {
  position: absolute;
  top: 0;
  left: 2.19em;
  width: 7.13em;
  height: 2.64em;
}
.icon26 {
  height: 25.47%;
  width: 10.74%;
  top: 5.54%;
  right: 89.26%;
  bottom: 68.99%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.line-icon1 {
  position: absolute;
  top: 1.63em;
  left: 0.44em;
  width: 0;
  height: 2.32em;
}
.items,
.list1,
.list2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 9.31em;
  height: 3.95em;
}
.list1,
.list2 {
  top: 26.73em;
  left: 1.44em;
}
.list2 {
  top: 6.99em;
  left: 1.31em;
}
.kgs-dinner,
.sep-620-pm {
  position: absolute;
  top: 2.01em;
  left: 0;
  font-size: 0.75em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 6.58em;
  height: 1.51em;
}
.kgs-dinner {
  top: 0;
  font-size: 0.88em;
  color: #fff;
  width: 7em;
}
.icon28,
.title3 {
  position: absolute;
  top: 0;
  left: 2.19em;
  width: 6.13em;
  height: 2.64em;
}
.icon28 {
  height: 25.47%;
  width: 12.03%;
  top: 5.54%;
  right: 87.97%;
  bottom: 68.99%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.design-changes2,
.list3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 8.31em;
  height: 3.95em;
}
.list3 {
  top: 12.17em;
  left: 1.44em;
}
.kgs-lunch,
.title4 {
  position: absolute;
  top: 0;
}
.kgs-lunch {
  left: 0;
  font-size: 0.88em;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  width: 6.64em;
  height: 1.51em;
}
.title4 {
  left: 2.19em;
  width: 5.81em;
  height: 2.64em;
}
.icon29,
.items2,
.list4 {
  position: absolute;
  left: 0;
}
.icon29 {
  height: 25.47%;
  width: 12.5%;
  top: 5.54%;
  right: 87.5%;
  bottom: 68.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.items2,
.list4 {
  top: 0;
  width: 8em;
  height: 3.95em;
}
.list4 {
  top: 17.19em;
  left: 1.44em;
}
.kgs-snack,
.sep-1020-am {
  position: absolute;
  top: 2.01em;
  left: 0;
  font-size: 0.75em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 7.25em;
  height: 1.51em;
}
.kgs-snack {
  top: 0;
  font-size: 0.88em;
  color: #fff;
  width: 6.57em;
}
.icon30,
.title5 {
  position: absolute;
  top: 0;
  left: 2.19em;
  width: 5.75em;
  height: 2.64em;
}
.icon30 {
  height: 25.47%;
  width: 12.6%;
  top: 5.54%;
  right: 87.4%;
  bottom: 68.99%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.items3,
.list5,
.orders-overview {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.94em;
  height: 3.95em;
}
.list5,
.orders-overview {
  top: 21.89em;
  left: 1.44em;
}
.orders-overview {
  top: 1.56em;
  left: 1.17em;
  font-size: 1.13em;
  line-height: 140%;
  display: inline-block;
  font-family: "Open Sans";
  color: #fff;
  width: 8.28em;
  height: 1.39em;
}
.second-card {
  position: absolute;
  top: 0;
  left: 67.56em;
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 32.44em;
  height: 32.56em;
  text-align: left;
  color: #a0aec0;
  font-family: Lato;
}

@media (max-width: 1920px) and (min-width: 1201px) {
  
}

@media (max-width: 1200px) and (min-width: 1024px) {
  
}

@media (max-width: 1024px) and (min-width: 992px) {
  
}

@media (max-width: 992px) and (min-width: 768px) {
  
}

@media (max-width: 768px) and (min-width: 640px) {
  
}

@media (max-width: 640px) and (min-width: 480px) {
  
}

@media (max-width: 480px) {

}
