.your-password {
  position: relative;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
}
.password-text-icon9 {
  position: relative;
  width: 2.19em;
  height: 0.22em;
  display: none;
}
.content9 {
  position: relative;
  width: 0;
  height: 0;
}
.minwidth9 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 4.63em;
}
.email3,
.inputfieldtext9,
.minwidth9 {
  overflow: hidden;
  display: flex;
}
.inputfieldtext9 {
  width: 19.44em;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.email3 {
  position: absolute;
  height: 66.67%;
  width: 100%;
  top: 33.33%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    123.64deg,
    rgba(255, 255, 255, 0) 0.01%,
    rgba(255, 255, 255, 0.04)
  );
  backdrop-filter: blur(42px);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.25em;
  box-sizing: border-box;
}
.password1 {
  position: absolute;
  top: 0;
  left: 0.32em;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  color: #fff;
}
.password {
  position: absolute;
  height: 10.49%;
  width: 77.26%;
  top: 60.14%;
  right: 12.14%;
  bottom: 29.37%;
  left: 10.6%;
  text-align: left;
  color: #a0aec0;
  font-family: Lato;
}
