.your-password1 {
  position: relative;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
}
.password-text-icon12 {
  position: relative;
  width: 2.19em;
  height: 0.22em;
  display: none;
}
.content18 {
  position: relative;
  width: 0;
  height: 0;
}
.minwidth13 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 4.63em;
}
.email6,
.inputfieldtext12,
.minwidth13 {
  overflow: hidden;
  display: flex;
}
.inputfieldtext12 {
  width: 19.44em;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.email6 {
  position: absolute;
  height: 66.67%;
  width: 100%;
  top: 33.33%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    123.64deg,
    rgba(255, 255, 255, 0) 0.01%,
    rgba(255, 255, 255, 0.04)
  );
  backdrop-filter: blur(42px);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.25em;
  box-sizing: border-box;
}
.password3 {
  position: absolute;
  top: 0;
  left: 0.32em;
  font-size: 0.88em;
  line-height: 140%;
  font-weight: 500;
  color: #fff;
}
.password2 {
  position: absolute;
  height: 8.69%;
  width: 77.35%;
  top: 66.94%;
  right: 12.04%;
  bottom: 24.38%;
  left: 10.61%;
  text-align: left;
  color: #a0aec0;
  font-family: Lato;
}
