.from-all-kitchen,
.title11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 11em;
  font-size: 1.13em;
  line-height: 140%;
}
.from-all-kitchen {
  top: 2.07em;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  font-family: Lato;
  color: #a0aec0;
}
.titlesubtitle {
  position: absolute;
  top: 1.63em;
  left: 1.69em;
  width: 9.56em;
  height: 2.69em;
}
.progress-bar-icon {
  position: absolute;
  top: 3.45em;
  left: calc(50% - 144.8px);
  width: 18.1em;
  height: 18.1em;
}
.b6,
.based-on-your,
.div23,
.div24 {
  position: absolute;
  line-height: 100%;
}
.b6 {
  top: 0.61em;
  left: 4.11em;
  font-size: 1.75em;
  font-family: "Open Sans";
}
.based-on-your,
.div23,
.div24 {
  top: 4.17em;
  left: 7.83em;
  font-size: 0.75em;
}
.div23,
.div24 {
  top: 1.42em;
  left: 2.08em;
}
.div24 {
  left: 20.25em;
}
.content14,
.content15 {
  position: absolute;
  width: 18.31em;
  height: 5.13em;
}
.content15 {
  top: 0;
  left: calc(50% - 146.5px);
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(6, 11, 40, 0.74),
    rgba(9, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
  overflow: hidden;
}
.content14 {
  top: 14em;
  left: calc(50% - 146px);
  font-family: Lato;
}
.icon35 {
  position: absolute;
  top: 9.06em;
  left: calc(50% - 24px);
  width: 3em;
  height: 3em;
}
.satisfaction-rate {
  position: absolute;
  top: 0;
  left: 41.88em;
  border-radius: 20px;
  background: linear-gradient(
    127.09deg,
    rgba(41, 63, 177, 0.74),
    rgba(9, 14, 35, 0.49)
  );
  backdrop-filter: blur(120px);
  width: 21.88em;
  height: 21.5em;
  overflow: hidden;
  text-align: left;
  color: #fff;
  font-family: "Open Sans";
}
