.background-child22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    127.09deg,
    rgba(41, 63, 177, 0.94),
    rgba(9, 14, 35, 0.49)
  );
  backdrop-filter: blur(120px);
  width: 99.88em;
  height: 8.06em;
}
.richard-horvath-nwaetf6qo0-un-icon6 {
  position: absolute;
  top: 26.44em;
  left: 1.69em;
  width: 103.06em;
  height: 57.81em;
  object-fit: cover;
  display: none;
}
.background-child23 {
  border-radius: 15px;
  background: linear-gradient(
    90.06deg,
    rgba(6, 11, 40, 0.94),
    rgba(10, 14, 35, 0)
  );
  display: none;
}
.background-child23,
.background20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.88em;
  height: 8.06em;
}
.ivan-ivanov7,
.ivanivanovgmailcom6 {
  position: absolute;
  top: 1.82em;
  left: 0;
  font-size: 0.88em;
  line-height: 150%;
}
.ivan-ivanov7 {
  top: 0;
  font-size: 1.13em;
  line-height: 140%;
  font-family: "Open Sans";
  color: #fff;
}
.image-icon16,
.name-and-email6 {
  position: absolute;
  top: 1.09em;
  left: 6.38em;
  width: 8.69em;
  height: 2.91em;
}
.image-icon16 {
  top: 0;
  left: 0;
  width: 5em;
  height: 5em;
  object-fit: cover;
}
.avatar11,
.icon47 {
  position: absolute;
  top: 3.69em;
  left: 3.69em;
  width: 1.63em;
  height: 1.63em;
}
.avatar11 {
  top: 1.38em;
  left: 1.41em;
  width: 15.06em;
  height: 5.31em;
}
.icon48,
.text29 {
  position: relative;
}
.icon48 {
  width: 0.69em;
  height: 0.69em;
  overflow: hidden;
  flex-shrink: 0;
}
.text29 {
  font-size: 0.63em;
  line-height: 150%;
}
.overview15,
.overview16 {
  position: absolute;
  height: 100%;
  width: 46.46%;
  top: 0;
  right: 53.54%;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-color: #05cd99;
  backdrop-filter: blur(120px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  box-sizing: border-box;
}
.overview16 {
  right: 0;
  left: 53.54%;
}
.buttons6,
.user6 {
  position: absolute;
  top: 3.06em;
  left: 79.69em;
  width: 18.09em;
  height: 2.19em;
  text-align: center;
  color: #fff;
  font-family: "Open Sans";
}
.user6 {
  top: 6.56em;
  left: 18.19em;
  width: 99.88em;
  height: 8.06em;
  text-align: left;
  color: #a0aec0;
  font-family: Lato;
}
