.addons10,
.icon44 {
  position: relative;
  flex-shrink: 0;
}
.icon44 {
  width: 0.94em;
  height: 0.94em;
  overflow: hidden;
}
.addons10 {
  font-size: 0.44em;
  line-height: 150%;
  display: none;
  align-items: center;
  width: 3.43em;
  height: 1.5em;
}
.addon10,
.auto-added-frame10 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addon10 {
  height: 1.25em;
  justify-content: flex-start;
  padding: 0.25em 0.38em;
  box-sizing: border-box;
  gap: 0.31em;
}
.auto-added-frame10 {
  align-self: stretch;
  width: 2.34em;
  flex-shrink: 0;
  justify-content: center;
}
.type-here10 {
  position: relative;
  font-size: 0.75em;
  line-height: 150%;
}
.password-text-icon11 {
  position: relative;
  width: 2.19em;
  height: 0.22em;
  display: none;
}
.content17 {
  position: relative;
  width: 0;
  height: 0;
}
.inputfieldtext11,
.minwidth12 {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.minwidth12 {
  flex-direction: row;
  align-items: center;
  padding: 0 4.63em;
}
.inputfieldtext11 {
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  font-family: Lato;
}
.inputwithaddons10 {
  position: absolute;
  height: 100%;
  width: 59.4%;
  top: 0;
  right: 40.6%;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  background-color: rgba(41, 63, 177, 0.74);
  border: 0.5px solid rgba(41, 63, 177, 0.3);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ioniconppersondefault16 {
  position: relative;
  width: 0.75em;
  height: 0.75em;
  overflow: hidden;
  flex-shrink: 0;
}
.listitemdefault10 {
  position: absolute;
  top: 0.72em;
  left: 13.56em;
  width: 3.63em;
  height: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25em;
  color: #fff;
  font-family: Lato;
}
.ioniconnnotificationsdefaul10,
.ioniconssettingssharp10 {
  position: absolute;
  top: 0.88em;
  left: 18.38em;
  width: 0.75em;
  height: 0.75em;
  overflow: hidden;
}
.ioniconnnotificationsdefaul10 {
  left: 20.19em;
}
.menu15 {
  position: absolute;
  top: 0;
  left: 77.75em;
  width: 20.94em;
  height: 2.47em;
}
.clients-page8 {
  font-weight: 500;
}
.clients-page7 {
  color: #fff;
}
.breadcrumb14 {
  position: relative;
  font-size: 0.75em;
  line-height: 100%;
}
.breadcrumbitemprevious4 {
  position: absolute;
  top: 0.38em;
  left: 0;
  width: 7.06em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #a0aec0;
  font-family: Lato;
}
.navbar9 {
  align-self: stretch;
  position: relative;
  height: 2.47em;
  color: #000;
}
.frame {
  position: absolute;
  top: 1.38em;
  left: 18.31em;
  width: 100em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.31em;
  text-align: left;
  color: #fff;
  font-family: Helvetica;
}
