.title10 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.13em;
  line-height: 140%;
}
.title9 {
  position: absolute;
  top: 1.69em;
  left: 1.94em;
  width: 9.5em;
  height: 1.56em;
}
.more-icon {
  position: absolute;
  top: 1.25em;
  right: 1.56em;
  width: 2.31em;
  height: 2.31em;
}
.people {
  position: absolute;
  top: 1.06em;
  left: 0;
  width: 6.31em;
  font-size: 1.13em;
  line-height: 140%;
}
.invited {
  position: absolute;
  top: 1.25em;
  left: 1.5em;
  width: 6.06em;
  height: 2.75em;
}
.invited-wrapper {
  position: absolute;
  top: calc(50% - 79px);
  left: 2.81em;
  border-radius: 20px;
  background: linear-gradient(126.97deg, #0b0628, rgba(4, 12, 48, 0.5));
  backdrop-filter: blur(120px);
  width: 13.56em;
  height: 5.81em;
  overflow: hidden;
}
.bonus {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88em;
  line-height: 100%;
  font-weight: 500;
  font-family: Lato;
}
.invited1 {
  position: absolute;
  top: 1.25em;
  left: 1.5em;
  width: 6.75em;
  height: 2.75em;
}
.invited-container {
  position: absolute;
  bottom: 2.75em;
  left: 2.81em;
  border-radius: 20px;
  background: linear-gradient(126.97deg, #060c29, rgba(4, 12, 48, 0.5));
  backdrop-filter: blur(120px);
  width: 13.56em;
  height: 5.81em;
  overflow: hidden;
}
.waste-reduction-child {
  position: absolute;
  top: calc(50% - 85px);
  right: 1.94em;
  border-radius: 50%;
  background: linear-gradient(180deg, #05cd99, rgba(5, 205, 153, 0));
  width: 12.88em;
  height: 12.88em;
}
.b5,
.food-wasted,
.target-2 {
  position: absolute;
  line-height: 100%;
}
.b5 {
  top: calc(50% - 25.5px);
  right: 0;
  font-size: 3.13em;
  font-family: "Open Sans";
}
.food-wasted,
.target-2 {
  top: calc(50% - 44.5px);
  right: 2.57em;
  font-size: 0.88em;
  font-weight: 500;
}
.target-2 {
  top: calc(50% + 30.5px);
  right: 3.29em;
}
.score {
  position: absolute;
  top: calc(50% - 26px);
  right: 3.44em;
  width: 9.13em;
  height: 5.56em;
  font-family: Lato;
}
.waste-reduction {
  position: absolute;
  top: 0;
  left: 65.56em;
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(41, 63, 177, 0.74),
    rgba(14, 21, 58, 0.71)
  );
  backdrop-filter: blur(120px);
  width: 34.44em;
  height: 21.5em;
  overflow: hidden;
  text-align: left;
  color: #fff;
  font-family: "Open Sans";
}
