.sidebar-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background: linear-gradient(
    111.84deg,
    rgba(41, 63, 177, 0.3) 99.99%,
    rgba(26, 31, 55, 0)
  );
  backdrop-filter: blur(120px);
  width: 264px;
  height: 1135px;
}
.log-out-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 3.500000238418579px 5.5px rgba(0, 0, 0, 0.02);
  width: 30px;
  height: 30px;
}
.ioniconrrocketsharp1 {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.log-out2 {
  position: absolute;
  top: 8px;
  left: 45.5px;
  line-height: 100%;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
.log-out1 {
  position: absolute;
  top: 339px;
  left: 16px;
  width: 92.5px;
  height: 30px;
}
.contact {
  top: 285px;
  width: 94.5px;
  height: 30px;
}
.account-pages,
.contact,
.profile {
  position: absolute;
  left: 16px;
}
.profile {
  top: 231px;
  width: 85.5px;
  height: 30px;
  cursor: pointer;
}
.account-pages {
  top: 189px;
  font-size: var(--font-size-xs);
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 105px;
  height: 18px;
}
.payment,
.settings {
  position: absolute;
  top: 135px;
  left: 16px;
  width: 95.5px;
  height: 30px;
}
.payment {
  top: 81px;
  width: 100.5px;
  cursor: pointer;
}
.dashboard-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-100);
  box-shadow: 0 3.500000238418579px 5.5px rgba(0, 0, 0, 0.02);
  width: 219.5px;
  height: 54px;
}
.dashboard-item {
  position: absolute;
  top: 12px;
  left: 16px;
  border-radius: var(--br-xs);
  width: 30px;
  height: 30px;
}
.ioniconhhomedefault1 {
  position: absolute;
  top: 19.5px;
  left: 23.5px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.dashboard2 {
  position: absolute;
  top: 20px;
  left: 61px;
  line-height: 100%;
  font-weight: 500;
}
.dashboard1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 219.5px;
  height: 54px;
}
.accounting,
.canteen,
.clients {
  position: absolute;
  top: 541px;
  left: 17px;
  width: 115.5px;
  height: 30px;
}
.canteen,
.clients {
  top: 487px;
  width: 97.5px;
}
.clients {
  top: 433px;
  width: 88.5px;
  cursor: pointer;
}
.cash {
  top: 703px;
  width: 76.5px;
}
.admin,
.admin-pages,
.cash,
.reception {
  position: absolute;
  left: 17px;
  height: 30px;
}
.admin {
  top: 649px;
  width: 86.5px;
  cursor: pointer;
}
.admin-pages,
.reception {
  top: 595px;
  width: 108.5px;
}
.admin-pages {
  top: 391px;
  font-size: var(--font-size-xs);
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 105px;
  height: 18px;
}
.menu1,
.uca-canteen {
  position: absolute;
  top: 106px;
  left: 22px;
  width: 219.5px;
  height: 733px;
}
.uca-canteen {
  top: 18px;
  left: 39px;
  letter-spacing: 0.18em;
  line-height: 100%;
  font-weight: 500;
  background: linear-gradient(97.89deg, #fff, rgba(117, 122, 140, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 133px;
  height: 15px;
}
.removebg-preview-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 45.28px;
  height: 47px;
  object-fit: cover;
}
.logo {
  position: absolute;
  top: 16px;
  left: 46px;
  width: 172px;
  height: 47px;
  text-align: center;
}
.sidebar,
.sidebar-item {
  position: absolute;
  top: 76px;
  left: 15px;
  width: 233.25px;
  height: 1px;
}
.sidebar {
  top: 15px;
  left: 10px;
  width: 264px;
  height: 1135px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--secondary-primary-white);
  font-family: var(--font-lato);
}


