/* Extra small devices (phones, 600px and down) */
:root {
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    background: linear-gradient(#0e1437, #111949);
    width: 70vw;
    display: flex;
    height: screen;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
    border-radius: 0 4vh 4vh 0;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
  }

  .sidebar.close {
    border-radius: 0 20vh 20vh 0;
    width: 10vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .sidebar-logo {
    display: none;
  }

  .border {
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.1),
      rgb(255, 255, 255) 40%,
      rgba(255, 255, 255, 0.6),
      transparent
    );
    margin-top: 5%;
    width: 80%;
    height: 1px;
    margin-bottom: 10%;
  }

  .sidebar-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 5%;
    width: 77%;
    color: #ffffff;
    border-radius: 2vh;
    margin-top: 4vh;
    font-size: 2vh;
  }

  .sidebar-category-name {
    display: none;
  }
  
  .border {
    display: none;
  }
  
  .small-device.close {
    display: none;
  }

  .sidebar-btn.close {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 5%;
    width: 77%;
    color: #ffffff;
    height: 6vh;
    border-radius: 2vh;
    font-size: 2vh;
    margin-bottom: 10%;
  }

  .sidebar-btn:hover {
    cursor: pointer;
    background-color: #1a1f37;
  }

  .sidebar-btn:active {
    background-color: #111425;
  }

  .sidebar-btn ion-icon {
    color: #05cd99;
  }

  .sidebar-icon-div {
    background-color: #1a1f37;
    border-radius: 1.5vh;
    padding: 4% 5%;
    margin-right: 7%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
  }

  .sidebar-category-name {
    color: #ffffff;
    font-size: 1.77vh;
    width: 77%;
    margin-top: 4vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sidebar {
    background: linear-gradient(#0e1437, #111949);
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
    border-radius: 0 4vh 4vh 0;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
  }

    .border {
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.1),
      rgb(255, 255, 255) 40%,
      rgba(255, 255, 255, 0.6),
      transparent
    );
    margin-top: 5%;
    width: 80%;
    height: 1px;
    margin-bottom: 10%;
  }

  .sidebar-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 5%;
    width: 77%;
    color: #ffffff;
    border-radius: 2vh;
    margin-top: 0;
    font-size: 2vh;
  }
  
  .sidebar-category-name {
    color: #ffffff;
    font-size: 1.77vh;
    width: 77%;
    margin-top: 1vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    background: linear-gradient(#0e1437, #111949);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
    user-select: none;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    bottom: 0;
  }

  .sidebar-logo {
    width: 66%;
  }

  .border {
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.1),
      rgb(255, 255, 255) 40%,
      rgba(255, 255, 255, 0.6),
      transparent
    );
    margin-top: 5%;
    width: 80%;
    height: 1px;
    margin-bottom: 10%;
  }

  .sidebar-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 5%;
    width: 77%;
    color: #ffffff;
    height: 6vh;
    border-radius: 2vh;
    font-size: 2.5vw;
    margin-top: 5%;
  }

  .sidebar-btn:hover {
    cursor: pointer;
    background-color: #1a1f37;
  }

  .sidebar-btn:active {
    background-color: #111425;
  }

  .sidebar-btn ion-icon {
    color: #05cd99;
  }

  .sidebar-icon-div {
    background-color: #1a1f37;
    border-radius: 1.5vh;
    padding: 2% 3%;
    margin-right: 7%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
  }

  .sidebar-category-name {
    color: #ffffff;
    font-size: 2.5vw;
    width: 77%;
  }
}

/* Medium devices, large devices, and extra large devices (laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
  .sidebar {
    background: linear-gradient(#0e1437, #111949);
    width: 13.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
    border-radius: 4vh;
    user-select: none;
    position: fixed;
    z-index: 10;
  }

  .sidebar-logo {
    width: 66%;
  }

  .border {
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.1),
      rgb(255, 255, 255) 40%,
      rgba(255, 255, 255, 0.6),
      transparent
    );
    margin-top: 5%;
    width: 80%;
    height: 1px;
    margin-bottom: 10%;
  }

  .sidebar-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 5%;
    width: 77%;
    color: #ffffff;
    height: 6vh;
    border-radius: 2vh;
    font-size: 1.77vh;
    margin-bottom: 2%;
  }

  .sidebar-btn:hover {
    cursor: pointer;
    background-color: #1a1f37;
  }

  .sidebar-btn:active {
    background-color: #111425;
  }

  .sidebar-btn ion-icon {
    color: #05cd99;
  }

  .sidebar-icon-div {
    background-color: #1a1f37;
    border-radius: 1.5vh;
    padding: 4% 5%;
    margin-right: 7%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
  }

  .sidebar-category-name {
    color: #ffffff;
    font-size: 1.77vh;
    width: 77%;
  }
}
