@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
input,
button,
textarea,
select {
  font: inherit;
}
