.from-all-kitchen,
.title9 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 140%;
}
.from-all-kitchen {
  top: 29px;
  font-size: var(--font-size-sm);
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--gray-gray-400);
}
.titlesubtitle {
  position: absolute;
  top: 26px;
  left: 27px;
  width: 153px;
  height: 43px;
}
.progress-bar-icon {
  position: absolute;
  top: 55.2px;
  left: calc(50% - 144.8px);
  width: 289.6px;
  height: 289.6px;
}
.b5,
.based-on-your,
.div6,
.div7 {
  position: absolute;
  line-height: 100%;
}
.b5 {
  top: 17px;
  left: 115px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-open-sans);
}
.based-on-your,
.div6,
.div7 {
  top: 50px;
  left: 94px;
}
.div6,
.div7 {
  top: 17px;
  left: 25px;
}
.div7 {
  left: 243px;
}
.content2,
.content3 {
  position: absolute;
  width: 293px;
  height: 82px;
}
.content3 {
  top: 0;
  left: calc(50% - 146.5px);
  border-radius: var(--br-xl);
  background: linear-gradient(
    126.97deg,
    rgba(6, 11, 40, 0.74),
    rgba(10, 14, 35, 0.71)
  );
  backdrop-filter: blur(120px);
  overflow: hidden;
}
.content2 {
  top: 224px;
  left: calc(50% - 146px);
  font-size: var(--font-size-xs);
  font-family: var(--font-lato);
}
.icon9 {
  position: absolute;
  top: 145px;
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
}
.satisfaction-rate {
  position: absolute;
  top: 0;
  left: 670px;
  border-radius: var(--br-xl);
  background: linear-gradient(
    127.09deg,
    rgba(41, 63, 177, 0.74),
    rgba(10, 14, 35, 0.49)
  );
  backdrop-filter: blur(120px);
  width: 350px;
  height: 344px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--secondary-primary-white);
  font-family: var(--font-open-sans);
}
