.breadcrumb {
  position: relative;
  line-height: 150%;
}
.breadcrumbitemprevious {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--regular-medium-size);
  color: var(--color-black);
  font-family: var(--regular-medium);
}
